@use "../../../../sass/kernel/" as *;

$description-header-transition: 1s ease;

.description-header{
    transition: $description-header-transition;
}

.slider-frame {
    overflow: hidden;
    height: 2rem;
    position: relative;
    width: 150px;
}

.slider-frame h3 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.slider-frame h3.active {
    transform: translateY(0);
    opacity: 1;
}

$review-submit-modal-container-custom-classes: ".bg-transparent-color, .justify-content-center, .align-items-center";
$review-submit-modal-content-custom-classes: ".position-absolute, .top-0, .left-0, .z-index-10, .d-flex, .flex-column, .align-items-center, .overflow-hidden, .w-100, .h-100";
$review-submit-modal-close-custom-classes: ".cursor-pointer";
$review-submit-modal-content-animation: 0.3s ease-out forwards;

.modal-container.reviewsubmit {
    @extend .modal-container;

    &.show {
        & .modal-content {
            animation: review-submit-modal-open $review-submit-modal-content-animation;
        }
    }

    &.hide {
        & .modal-content {
            animation: review-submit-modal-close $review-submit-modal-content-animation;
        }
    }

    .modal-content {
        background-color: rgba(0, 0, 0, 0.07);
        backdrop-filter: blur(1px);
    }

    .modal-close {
        @extend #{$review-submit-modal-close-custom-classes};
    }
}

@keyframes review-submit-modal-open {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes review-submit-modal-close {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}