@use "../../../../sass/config/_dims" as *;
@use "../../../../sass/config/_typography" as *;
@use "../../../../sass/kernel" as *;
@use 'sass:map';

$offcanvas-static-custom-classes:".d-flex, .flex-row, .justify-content-center, .align-items-center";
$offcanvas-close-custom-classes:".w-fit-content, .d-flex, .justify-content-start, .cursor-pointer, .mb-2";
$offcanvas-backdrop-custom-classes:".bg-on-secondary-color, .w-100, .h-100, .position-fixed,  .cursor-pointer";
$offcanvas-backdrop-active-custom-classes:".opacity-8";
$offcanvas-transition:all 300ms linear;
$offcanvas-position-custom-classes: ".p-1";

.offcanvas-static{
    @extend #{$offcanvas-static-custom-classes};

    & div.backdrop{
        transition: $offcanvas-transition;
        
        @extend .opacity-0, .top-0, .left-0, .visibility-hidden, #{$offcanvas-backdrop-custom-classes};
    }

    .offcanvas-toggle{
        & ~ .offcanvas-top{
            height:37%;
            transform: translateY(-100%);
            transition: $offcanvas-transition;
            z-index: calc(map.get($conf-z-index, max) * map.get($conf-z-index, step));

            @extend .w-100, .position-fixed, .left-0, .top-0, .d-flex, .flex-column, .justify-content-start, .align-items-start, #{$offcanvas-position-custom-classes};

            &:has(~ [class*="offcanvas-"]),&~ [class*="offcanvas-"]{
                height: 25%;
                @media screen and (max-width:get-break-point-value(md)){
                    height: 37%;
                }
                @media screen and (max-width:get-break-point-value(sm)){
                    height: 50%;
                }
            }
            @media screen and (max-width:get-break-point-value(md)) {
                height: 50%;
            }
            @media screen and (max-width:get-break-point-value(sm)) {
                height: 100%;
            }
        }

        & ~ .offcanvas-bottom{
            height:37%;
            transform: translateY(100%);
            transition: $offcanvas-transition;
            z-index: calc(map.get($conf-z-index, max) * map.get($conf-z-index, step));
            @extend .w-100, .position-fixed, .left-0, .bottom-0, .d-flex, .flex-column, .justify-content-start, .align-items-start, #{$offcanvas-position-custom-classes};

            &:has(~ [class*="offcanvas-"]),&~ [class*="offcanvas-"]{
                height: 25%;
                @media screen and (max-width:get-break-point-value(md)){
                    height: 37%;
                }
                @media screen and (max-width:get-break-point-value(sm)){
                    height: 50%;
                }
            }
            @media screen and (max-width:get-break-point-value(md)) {
                height: 50%;
            }
            @media screen and (max-width:get-break-point-value(sm)) {
                height: 100%;
            }
        }

        & ~ .offcanvas-left{
            width:37%;
            transform: translateX(-100%);
            transition: $offcanvas-transition;
            z-index: calc(map.get($conf-z-index, max) * map.get($conf-z-index, step));
            @extend .h-100, .position-fixed, .left-0, .top-0, .d-flex, .flex-column, .justify-content-start, .align-items-start, #{$offcanvas-position-custom-classes};

            &:has(~ [class*="offcanvas-"]),&~ [class*="offcanvas-"]{
                width: 25%;
                @media screen and (max-width:get-break-point-value(md)){
                    width: 37%;
                }
                @media screen and (max-width:get-break-point-value(sm)){
                    width: 50%;
                }
            }
            @media screen and (max-width:get-break-point-value(md)) {
                width: 50%;
            }
            @media screen and (max-width:get-break-point-value(sm)) {
                width: 100%;
            }
        }

        & ~ .offcanvas-right{
            width:37% ;
            transform: translateX(100%);
            transition: $offcanvas-transition;
            z-index: calc(map.get($conf-z-index, max) * map.get($conf-z-index, step));
            @extend .h-100, .position-fixed, .right-0, .top-0, .d-flex, .flex-column, .justify-content-start, .align-items-start, #{$offcanvas-position-custom-classes};
            
            &:has(~ [class*="offcanvas-"]),&~ [class*="offcanvas-"]{
                width: 25%;
                @media screen and (max-width:get-break-point-value(md)){
                    width: 37%;
                }
                @media screen and (max-width:get-break-point-value(sm)){
                    width: 50%;
                }
            }
            @media screen and (max-width:get-break-point-value(md)) {
                width: 50%;
            }
            @media screen and (max-width:get-break-point-value(sm)) {
                width: 100%;
            }
        }

        &.active{
            & ~:where(.offcanvas-top , .offcanvas-bottom , .offcanvas-left , .offcanvas-right){
                transform:translateX(0%) translateY(0%);
            }
            & + div.backdrop{
                z-index: calc(map.get($conf-z-index, max) * map.get($conf-z-index, step) - 1);
                @extend .visibility-visible, #{$offcanvas-backdrop-active-custom-classes};
            }
        }
    }
    .offcanvas-close{
        @extend #{$offcanvas-close-custom-classes};
    }
}