<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
    </head>
    <body style="height: 1000px;" class="bg-color font-primary w-100 d-flex flex-column justify-content-center align-items-center">
        <div class="offcanvas-static offcanvas-scroll offcanvas-backdrop">
            <div class="offcanvas-toggle btn btn-outline-primary mb-2">offcanvas default</div>
            <div class="offcanvas-left bg-primary-color on-primary-color">
                <i class="fa-solid offcanvas-close fa-close on-primary-color icon-medium"></i>
                <p class="mb-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A tenetur vel corrupti? Maxime, fugiat temporibus harum</p>
                <button class="btn btn-outline-success mb-1">btn</button>
            </div>
        </div>
        <script src="/assets/js/mizchin.min.js"></script>
    </body>
</html>