<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/miz.min.css">
    <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
</head>

<body class="font-primary bg-color p-5">
    <div class="card covered-image">
        <img class="object-cover" style="width: 400px; height: 300px;"
            src="https://eazymizy.com/assets/media/images/photo12956112070.webp" alt="">
        <div class="card-footer blurred">
            <p class="secondary-color">Available soon.</p>
            <button class="btn btn-blur">Notify me</button>
        </div>
    </div>
</body>

</html>