@use "../../../../../sass/kernel/" as *;

.btn-shop::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    left: 12px;
    top: 12px;
    border-radius: 17px;
}

.btn-shop.btn-pink::before {
    background: #FFF5F6;
}

.btn-shop.btn-green {
    background-color: #30B67A;
}

.btn-shop.btn-green::before {
    background-color: #E1F4E9;
}

.btn-shop i::after {
    content: "";
    width: 1px;
    height: 30px;
    margin-right: 1.25rem;
}

.btn-shop.btn-pink .fa-solid.fa-xmark::after {
    background-color: #FFF5F6;
}

.btn-shop.btn-green .fa-solid.fa-check::after {
    background-color: white;
}

.fa-solid.fa-xmark,
.fa-solid.fa-check {
    display: flex !important;
}