<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>alert</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="font-primary">
        <div class="btn-shop btn-pink d-flex align-items-center justify-content-center gap-5 py-6 bg-color position-relative radius-all-medium w-50">
            <i class="fa-solid fa-xmark primary-color align-items-center"></i>
            <span class="primary-color txt-size-mid-title font-weight-bold">
                لطفا محل تحویل را در نقشه انتخاب کنید
            </span>
        </div>
    </body>
</html>