@use "../../../../sass/kernel/" as *;


.modal-container.sharing-modal {
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
    @extend .d-none, .position-fixed, .top-0, .left-0, .overflow-hidden, .bg-transparent-color, .justify-content-center, .align-items-center;


    &.show {
        pointer-events: all;

        & .modal-content {
            display: flex;
            animation: modal-open 0.3s ease-out forwards;
        }
    }

    &.hide {
        pointer-events: none;

        & .modal-content {
            display: flex;
            animation: modal-close 0.3s ease-out forwards;
        }
    }

    .modal-content {
        background-color: #00000029;
        backdrop-filter: blur(2px);
        @extend .d-none, .position-absolute, .top-0, .left-0, .z-index-10, .d-flex, .flex-column, .align-items-center, .overflow-hidden, .w-100, .h-100;
    }

    .modal-close {
        pointer-events: all;
        @extend .cursor-pointer;
    }
}

@keyframes modal-open {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-close {
    from {
        opacity: 1;
        transform: scale(1);
    }
    
    to {
        opacity: 0;
        transform: scale(0); 
    }
}