<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Dropdown</title>
    <base href="../../../../../../">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
</head>
<body class="bg-color d-flex flex-column justify-content-center align-items-center gap-14">
    <div class="dropdown">
        <div class="dropdown-box flex-row-reverse">
            <i class="fa-light fa-user txt-big-title"></i>
            <svg style="width: 20px; height: 20px;fill: var(--secondary);" viewBox="0 0 24 24">
                <path d="M7 10l5 5 5-5H7z"></path>
            </svg>
        </div>
        <ul class="dropdown-menu dropdown-left" style="width: 250px;">
            <li>
                <a href="#" class="px-6 radius-tr-small radius-tl-small">
                    <div class="w-100 d-flex flex-row-reverse align-items-center justify-content-space-between py-1">
                        <span class="font-weight-medium">نام و نام خانوادگی</span>
                        <i class="fa-solid fa-chevron-left txt-small"></i>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="px-6">
                    <div class="w-100 d-flex flex-row-reverse align-items-center gap-5">
                        <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M12 2a5 5 0 014.995 4.783L17 7h2a1 1 0 01.993.883L20 8v11a3 3 0 01-2.824 2.995L17 22H7a3 3 0 01-2.995-2.824L4 19V8a1 1 0 01.883-.993L5 7h2a5 5 0 015-5zm6 7h-1v2h-2V9H9v2H7V9H6v10a1 1 0 00.77.974l.113.02L7 20h10a1 1 0 00.993-.883L18 19V9zM9.005 6.824A3 3 0 0115 7H9l.005-.176z" clip-rule="evenodd"></path>
                        </svg>

                        <div class="w-100 h-fit-content d-flex flex-row-reverse align-items-center">
                            <span class="font-weight-medium">سفارش‌ها</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="px-6">
                    <div class="w-100 d-flex flex-row-reverse align-items-center gap-5">
                        <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M13 1h-2v2.5H5a1 1 0 00-.928 1.371L4.923 7l-.851 2.129A1 1 0 005 10.5h6v1H6a1 1 0 00-.928.629l-1 2.5a1 1 0 000 .742l1 2.5A1 1 0 006 18.5h5v4h2v-4h6a1 1 0 00.928-1.371L19.078 15l.851-2.129A1 1 0 0019 11.5h-6v-1h5a1 1 0 00.928-.629l1-2.5a1 1 0 000-.742l-1-2.5A1 1 0 0018 3.5h-5V1zM6.928 6.629L6.477 5.5h10.846l.6 1.5-.6 1.5H6.477l.451-1.129a1 1 0 000-.742zM6.677 13.5h10.846l-.451 1.129a1 1 0 000 .742l.451 1.129H6.677l-.6-1.5.6-1.5z" clip-rule="evenodd"></path>
                        </svg>

                        <div class="w-100 h-fit-content d-flex flex-row-reverse align-items-center">
                            <span class="font-weight-medium">آدرس‌ها</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="px-6">
                    <div class="w-100 d-flex flex-row-reverse align-items-center gap-5">
                        <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M7.5 3a6 6 0 00-3.844 10.607l6.982 6.492a2 2 0 002.724 0l6.993-6.503C21.685 12.504 22.5 10.818 22.5 9A6 6 0 0012 5.03 5.995 5.995 0 007.5 3zm-2.502 9.124l-.044-.039a4 4 0 116.147-4.83 1 1 0 001.799 0A4 4 0 0120.5 9a3.99 3.99 0 01-1.461 3.091L12 18.634l-7.002-6.51z" clip-rule="evenodd"></path>
                        </svg>

                        <div class="w-100 h-fit-content d-flex flex-row-reverse align-items-center">
                            <span class="font-weight-medium">لیست‌ها</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="px-6">
                    <div class="w-100 d-flex flex-row-reverse align-items-center gap-5">
                        <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M10 21a1 1 0 001.6.8l6.92-5.198A8 8 0 0014 2h-4a8 8 0 100 16v3zm7.373-6.037l-.037.027L12 18.998V17a1 1 0 00-1-1h-1a6 6 0 010-12h4a6 6 0 013.373 10.963z" clip-rule="evenodd"></path>
                        </svg>

                        <div class="w-100 h-fit-content d-flex flex-row-reverse align-items-center">
                            <span class="font-weight-medium">دیدگاه‌ها و پرسش‌ها</span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a href="#" class="px-6  radius-br-small radius-bl-small">
                    <div class="w-100 d-flex flex-row-reverse align-items-center gap-5">
                        <svg style="width: 24px; height: 24px;" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M16 15h-2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V7a2 2 0 012-2h6a2 2 0 012 2v2h2V7a4 4 0 00-4-4H6a4 4 0 00-4 4v10a4 4 0 004 4h6a4 4 0 004-4v-2zm-9-2h12.586l-2.293 2.293 1.414 1.414 4-4a1 1 0 000-1.414l-4-4-1.414 1.414L19.586 11H7v2z" clip-rule="evenodd"></path>
                        </svg>

                        <div class="w-100 h-fit-content d-flex flex-row-reverse align-items-center">
                            <span class="font-weight-medium">خروج از حساب کاربری</span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <script src="./assets/js/mizchin.min.js"></script>
    <script src="./assets/js/header.js"></script>
</body>
</html>