@use "../../../../sass/kernel/" as *;


.topseller {
    background-image: radial-gradient(at center, #F6F7F8 1%, #B4CBD8);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 700ms;
    border: 1px solid var(--border);
    @extend .position-relative, .overflow-hidden, .border-style-solid, .border-color, .px-6, .py-5, .radius-all-medium;

    &:hover {
        transition: all 300ms;
        background-image: radial-gradient(at center, var(--primary) 1%, var(--primary));
    }

    &:hover .number {
        color: var(--on-primary) !important;
    }

    &:hover .title {
        color: var(--on-primary) !important;
    }

    &:hover .number::after {
        background: white !important;
    }

    &:hover::before {
        content: "";
        width: 104%;
        height: 107%;
    }

    &:hover::after {
        content: "";
        width: 101%;
        height: 100%;
    }

    &::before {
        content: '';
        background-image: url("../../assets/media/images/category/back2.svg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 700ms;
        @extend .w-100, .h-100, .position-absolute, .bottom-0, .right-0, .z-index-2;
    }

    &::after {
        content: '';
        background-image: url("../../assets/media/images/category/back3.svg");
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 700ms;
        @extend .w-100, .h-100, .position-absolute, .bottom-0, .right-0;
    }

    .background-wrapper {
        content: url("../../assets/media/images/category/back.svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        transition: al 300ms;
    }

    .background-wrapper {
        bottom: 0;
        left: 0;
        transition: all 700ms;
    }

    &:hover .background-wrapper {
        content: url("../../assets/media/images/category/Vector5(5).svg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        z-index: 3;
        position: absolute;
    }

    .details {
        @extend .d-flex, .justify-content-space-between, .position-relative, .z-index-7;

        .content {
            @extend .d-flex, .flex-row-reverse, .align-items-center;

            .number {
                @extend .d-flex, .flex-row-reverse, .align-items-center, .text-color, .font-weight-bold, .txt-big-title;

                &::after {
                    content: "";
                    width: 2px;
                    height: 20px;
                    background: #13275F;
                    opacity: 27%;
                    @extend .mx-5, .border-color;
                }

            }

            .title {
                @extend .txt-mid-title, .pr-6, .text-color, .font-weight-bold;
            }
        }

        img {
            width: 40px;
            height: 40px;
        }
    }

}