@use "../../../../sass/kernel/" as *;



// <!--* .line-height-3, .text-justify *-->

// <!--* .line-height-3, .text-justify *-->

.summary-opinion{
    @extend .d-flex, .flex-column, .bg-secondary-color, .radius-all-large, .py-10, .px-10, .gap-8;
    
    .title{
        @extend .txt-size-big-title, .text-color, .font-weight-bold;
    }

    .gif{
        mix-blend-mode: darken;
    }

    mark{
        background-color: #FFF077;
        @extend .txt-size-mid-title, .text-color, .font-weight-bold, .px-1, .py-1;
    }

    .description{
        @extend .secondary-text-color, .txt-size-title, .font-weight-bold;
    }
}