<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate-of-appreciation</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="font-primary d-grid grid-2 font-primary">

        <div class="summary-opinion">
            <div class="d-flex align-items-center gap-3">
                <img class="gif w-10" src="./assets/media/images/component/aisign.gif" alt="">
                <div class="d-flex flex-column gap-1 align-items-start">
                    <h3 class="title">خلاصه دیدگاه‌های خریدران</h3>
                    <mark>تولید شده با هوش مصنوعی</mark>
                </div>
            </div>
            <p class="description">نقاط قوت: 1. کیفیت سخت افزار خوب و ارزش خرید بالا 2. کیفیت صدا و صفحه نمایش 3. دوربین با کیفیت و روان با قابلیت ضبط ویدیو 4K 4. کیفیت بالای صفحه نمایش با تکنولوژی اولد و تازگی 120 هرتز 5. عمر طولانی باتری 6. پشتیبانی طولانی مدت از آپدیت های نرم افزاری (5 تا 7 سال) 7. سرعت و روان بودن عملکرد نقاط ضعف: 1. پردازنده قدیمی و کم مصرف، مناسب بازی های سنگین نیست.</p>
        </div>

    </body>
</html>