@use "../../../../sass/config/_dims" as *;
@use "../../../../sass/kernel/" as *;
@use 'sass:map';


.modal-toggle{
    @extend .cursor-pointer;
}

.modal-container {
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;
    @extend .d-none, .position-fixed, .top-0, .left-0, .overflow-hidden, .bg-transparent-color, .justify-content-center, .align-items-center;

    &::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(1px);
        @extend .w-100, .h-100, .position-absolute, .top-0, .left-0,.d-flex;
    }

    &.show {
        pointer-events: all;
        @extend .z-index-10;

        & .modal-content {
            display: flex;
            animation: modal-open 0.3s ease-out forwards;
        }

        &::after{
            animation:  modal-backdrop-open 0.3s ease-out forwards;
        }
    }

    &.hide {
        pointer-events: none;

        & .modal-content {
            display: flex;
            animation:modal-close 0.3s ease-out forwards;
        }

        &::after{
            animation: modal-backdrop-close 0.3s ease-out forwards;
        }
    }

    .modal-content {
        @extend .d-none, .z-index-2, .position-absolute, .top-0, .left-0, .d-flex, .flex-column, .align-items-center, .overflow-hidden, .w-100, .h-100;
    }

    .modal-close {
        pointer-events: all;
        @extend .cursor-pointer;
    }
}

@keyframes modal-open {
    from {
        opacity: 0;
        transform: scale(0);
    }
    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes modal-close {
    from {
        opacity: 1;
        transform: scale(1);
    }
    
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes modal-open-backdrop {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes modal-close-backdrop {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}