@use "../../../../sass/kernel/" as *;


.product-details{
    @extend .w-fit-content, .d-flex, .flex-column, .align-items-start, .justify-content-start, .bw-1, .border-style-solid, .border-color, .radius-all-small, .py-3, .pis-4, .pie-14, .gap-1, .w-100;

    .title{
        @extend .txt-size-big, .font-weight-bold, .secondary-text-color;
    }

    .description{
        @extend .font-weight-bold, .txt-size-title;

    }

    &.rating{
        @extend .flex-row, .align-items-center, .bw-1, .border-style-solid, .border-color, .radius-all-small, .py-3, .px-4, .justify-content-space-between;
    }
}
