@use "../../../../sass/config/_typography" as *;
@use "../../../../sass/kernel" as *;
@use "sass:list";


.badge-wrapper{
    @extend .position-relative, .cursor-pointer;

    & .badge{
        padding:8px;
        text-transform: uppercase;
        line-height: 0;
        @extend .#{$font-prefix}-align-center, .d-flex, .flex-row, .justify-content-center, .align-items-center, .position-absolute;
    }
    & .badge.top-0.left-0{
        transform: translate(-50% , -50%);
    }
    & .badge.top-0.right-0{
        transform: translate(50% , -50%);
    }
    & .badge.bottom-0.left-0{
        transform: translate(-50% , 50%);
    }
    & .badge.bottom-0.right-0{
        transform: translate(50% , 50%);
    }
    & .badge-inside{
        @extend .badge;
        position: unset !important;
        transform: unset !important;
    }
}

.commodity-pack{
    @extend .d-flex, .align-items-center, .w-100, .position-relative, .gap-4, .px-8, .py-5, .cursor-pointer;

    &::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        top: 0;
        left: 0;
        opacity: 0;
        background-image: linear-gradient(90deg, #FFF 0%, #F4F5F7 100%);
        transition:0.2s linear;
    }

    &:hover::after{
        opacity: 1;
    }
}