<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
        <title>badge</title>
    </head>
    <body class="font-primary bg-color d-grid grid-4 justify-content-center align-items-center gap-10">

        <!-- <div class="d-flex align-items-center w-100 gap-4 px-8">
            <div class="w-18 badge-wrapper">
                <img class="w-100" src="./assets/media/images/component/1-11.webp" alt="">
                <span class="badge bottom-0 right-0 bg-primary-color aspect-ratio-1x1 secondary-color radius-all-full">1</span>
            </div>
            <p class="w-40">kfjaskfskl lskd ;lskdl;fksadkfslds sksd; sdl;fkl;f1</p>
            <span class="secondary-color txt-size-extra-title font-weight-bold">1</span>
        </div> -->



        <div class="commodity-pack ">
            <a class="d-flex align-items-center gap-5">
                <div class="w-20 badge-wrapper">
                    <img class="w-100" src="./assets/media/images/component/1-11.webp" alt="">
                    <span class="badge bottom-0 right-0 bg-primary-color aspect-ratio-1x1 secondary-color radius-all-full">1</span>
                </div>
                <span class="txt-size-big on-secondary-color ellipsis-1">هدست پلی استیشن
                    <br> سونی اسلیم چریکی مدل PULSE Elite Wireless</span>
                <span class="secondary font-weight-bold txt-size-extra-title">1</span>
            </a>
        </div>

    </body>
</html>