$backgrounds:(primary,on-primary,primary-light,primary-dark,secondary,on-secondary,secondary-light,secondary-dark,specific,button,fields,text,title-text,secondary-text,section-title-text,border,divider,shadow,icon,menu,card,background,section,hover,button-hover,text-hover,button-text-hover,danger-regular,disabled-regular,warning-regular,warning-light,warning-dark,success-regular,success-light,success-dark,danger-dark,danger-light,disabled-light,disabled-dark,information-regular,information-light,information-dark,border-secondary,unCommon,"transparent","black", "white");
$colors:(primary-light,on-primary,on-secondary,icon,text,specific,primary,secondary,highlight-text, library-icon,title-text,button-text,text-fields,secondary-text,primary-dark);
$borders:(divider,border,primary,on-primary,border-fields);

$light-color-palette:(
    primary:#A11D1D,
    on-primary: #c97d7d,
    primary-light: #c97d7d8a,
    primary-dark: #FFFFFF,
    secondary: #FFFFFF,
    on-secondary: #495057,
    secondary-light: #FFFFFF,
    secondary-dark: #FFFFFF,
    specific: #FFFFFF,
    button-text: #C7A151,
    button: #00000000,
    library-icon : #94A3B8,
    text: #212529,
    title-text: #000000,
    highlight-text : #FF5050,
    header-text: #DDCDFE,
    header-title-text: #ffffff,
    secondary-text: #FFFFFF,
    section-title-text: #CECECE,
    border: #dee2e6,
    divider: #000,
    shadow: #ffffff,
    icon: #fff,
    icon-hover: #fff,
    menu: #1F1D1D,
    card: #120F10,
    footer:#2B3035,
    footer-text : #B1B5B9,
    footer-link : #DEE2E6,
    footer-link-hover : #8BB9FE,
    link-sidebar-text : #AEB2B6,
    background: #ffffff,
    section: #262626,
    hover: #FFFFFF,
    button-hover: #C7A453,
    bg-list-hover: #F2E0E0,
    button-text-hover: #C5B395,
    discount-price: #FFFFFF,
    fields: #FFFFFF,
    border-fields: #FFFFFF,
    title-text-fields: #FFFFFF,
    text-fields: #FFFFFF,
    black: #000000,
    white: #FFFFFF,
    danger-regular: #D70D0D,
    disabled-regular: #B1B1B1,
    warning-regular: #FFB800,
    warning-light: #FDD368,
    warning-dark: #CA9200,
    success-regular: #02B74A,
    success-light: #C0FCD8,
    success-dark: #007A31,
    danger-dark: #AA0D0D,
    danger-light: #F8D0D0,
    disabled-light: #E2E2E2,
    disabled-dark: #575857,
    information-regular: #3761EB,
    information-light: #7393FF,
    information-dark: #2145BC,
    border-secondary: #FFFFFF,
    unCommon: #FFFFFF,
);

$dark-color-palette:(
    primary: #eb4545,
    on-primary: #c97d7d,
    primary-light: #c97d7d8a,
    primary-dark: #FFFFFF,
    on-primary-light: #a11d1d2b,
    secondary: #000000,
    on-secondary: #495057,
    secondary-light: #FFFFFF,
    secondary-dark: #FFFFFF,
    specific: #FFFFFF,
    button-text: #C7A151,
    button: #a30000,
    text: #e7ebef,
    title-text: #ffffff,
    header-text: #DDCDFE,
    header-title-text: #ffffff,
    secondary-text: #FFFFFF,
    section-title-text: #CECECE,
    border: #dee2e6,
    divider: #ffffff,
    shadow: #ffffff,
    icon: #fff,
    icon-hover: #fff,
    menu: #1F1D1D,
    card: #120F10,
    footer:#2B3035,
    footer-text : #B1B5B9,
    footer-link : #DEE2E6,
    footer-link-hover : #8BB9FE,
    link-sidebar-text : #AEB2B6,
    background: #160F21,
    section: #262626,
    hover: #FFFFFF,
    button-hover: #C7A453,
    bg-list-hover: #493A3D,
    button-text-hover: #C5B395,
    discount-price: #FFFFFF,
    gradient: #FFFFFF,
    fields: #FFFFFF,
    border-fields: #FFFFFF,
    title-text-fields: #FFFFFF,
    text-fields: #FFFFFF,
    black: #000000,
    code : #FAFAFA,
    white: #FFFFFF,
    danger-regular: #D70D0D,
    disabled-regular: #3761EB,
    warning-regular: #FFB800,
    warning-light: #FDD368,
    warning-dark: #CA9200,
    success-regular: #02B74A,
    success-light: #C0FCD8,
    success-dark: #007A31,
    danger-dark: #AA0D0D,
    danger-light: #F8D0D0,
    disabled-light: #B1B1B1,
    disabled-dark: #B1B1B1,
    information-regular: #3761EB,
    information-light: #7393FF,
    information-dark: #2145BC,
    border-secondary: #B1B1B1,
    unCommon: #FFFFFF
);

$color-palette:(
    default : $dark-color-palette ,
    colors : (
        light-palette : $light-color-palette ,
        dark-palette : $dark-color-palette ,
    )
);