$assets-path : '..';
$media-path : '#{$assets-path}media';
$images-path : '#{$media-path}images';
$videos-path : '#{$media-path}videos';
$audios-path : '#{$media-path}audios';
$fonts-path : '#{$assets-path}fonts';
$css-path : '#{$assets-path}css';
$js-path : '#{$assets-path}js';
$vendors-path : '#{$assets-path}vendors';