$break-points:(xxl:1920px , xl:1280px , lg:1024px , md:767px , sm:478px);
// number of boxed space around should be equal with break points
$header-space-horizontally:(81px,70px,50px,25px,20px);
$header-space-vertically:(5rem,4.5rem,4rem,3rem,3rem);
$boxed-space-horizontally:(81px,70px,50px,25px,20px);
$boxed-space-vertically:(5rem,4.5rem,4rem,3rem,3rem);
$conf-font-size-responsive:(1rem, 1rem, 0.8rem, 0.7rem, 0.7rem);

$conf-cols:(
    count:12,
    responsive:true
);
$conf-width:(
    count:100,
    responsive:true
);
$conf-height:(
    count:50,
    responsive:true
);
$conf-inset-inline-start:(
    count:50,
    responsive:true
);
$conf-inset-inline-end:(
    count:50,
    responsive:true
);
$conf-top:(
    count:50,
    responsive:true
);
$conf-bottom:(
    count:50,
    responsive:true
);
$conf-left:(
    count:4,
    responsive:true
);
$conf-right:(
    count:4,
    responsive:true
);
$conf-line-height:(
    count:25,
    unit:rem,
    factor:0.25,
    responsive:true
);
$conf-grids:(
    count:14,
    responsive:true
);
$conf-gaps:(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-paddings:(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-margins:(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-letter-spacing:(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
);
$conf-orders:(
    count:10,
    responsive:true
);
$conf-display:(
    responsive:true
);
$conf-grows:(
    count:5,
    responsive:true
);
$conf-wrap:(
    responsive:true
);
$conf-flex-direction:(
    responsive:true
);
$conf-justify-content:(
    responsive:true
);
$conf-justify-self:(
    responsive:true
);
$conf-justify-items:(
    responsive:true
);
$conf-align-content:(
    responsive:true
);
$conf-align-self:(
    responsive:true
);
$conf-align-items:(
    responsive:true
);
$conf-text-align:(
    responsive:true
);
$conf-text-transform:(
    responsive:true
);
$conf-text-decoration:(
    responsive:true
);
$conf-font-style:(
    responsive:true
);