$conf-font-prefix: "txt";
$conf-font-size:(
    sizes:(
        small : 0.625rem,
        subtitle : 0.688rem,
        normal : 0.75rem,
        big : 0.814rem,
        title : 0.875rem,
        mid-title : 0.938rem,
        high-title : 1.125rem,
        big-title : 1.313rem,
        extra-title : 1rem,
        mega-title : 3rem,
    ),
    responsive:true
);

$conf-fonts: (
    "primary": (
        "defaults":"sans-serif, 'Courier New', Courier, monospace",
        "folder": "pt-sans",
        "font-types": (
            "bold": (
                "PTSans-Bold.ttf",
            ),
            "regular": (
                "PTSans-Regular.ttf",
            ),
        )
    ),
);