<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../../../../assets/css/miz.min.css">
    </head>
    <body class="font-primary bg-color h-100 d-flex flex-column justify-content-center align-items-center gap-2">
        <div class="w-20 d-flex flex-column justify-content-center align-items-center gap-2">
            <input type="range" class="range" data-range-height="8px">
        </div>
        <script src="/assets/js/mizchin.min.js"></script>
    </body>
</html>