@use "../../../../../sass/kernel/" as *;

.article-banner-weblog {
    @extend .d-flex, .flex-column, .position-relative, .overflow-hidden, .w-100, .h-100, .radius-all-medium, .w-48, .w-xl-100, .h-50, .h-md-100, .on-primary-color, .font-weight-medium;

    img {
        @extend .w-100, .object-cover, .h-100;
    }

    &::after {
        content: "";
        background-image: url("../../assets/media/images/component/Group 195.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        @extend .position-absolute, .opacity-7, .right-0, .top-0, .w-100, .h-100, .z-index-1, .radius-all-small;
    }
    
    & .banner-content {

       .title {
        @extend .position-absolute, .top-0, .right-0, .z-index-2, .txt-align-start,.mr-5, .mt-5, .font-weight-bold, .txt-high-title;
    }

       .details {
        @extend .d-grid, .grid-1, .grid-lg-1, .align-items-center, .position-absolute, .left-0, .bottom-0, .z-index-2,.ml-5, .mb-5, .gap-lg-1, .gap-2;
    }
}
}