<!DOCTYPE html>
<html lang="fa" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>countdown</title>
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
</head>

<body class="font-primary d-flex justify-content-center align-items-center">

    <div class="like-box div gap-2 align-items-center">
        <div class="btn positive radius-all-small cursor-pointer">
            <p class="count user-select-none">25</p>
            <i class="fa-regular fa-thumbs-up"></i>
        </div>
        <div class="btn negative radius-all-small cursor-pointer">
            <p class="count user-select-none">3</p>
            <i class="fa-regular fa-thumbs-down"></i>
        </div>
    </div>

    <script src="./assets/js/mizchin.min.js" defer></script>
</body>

</html>