<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/miz.min.css">
    <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
</head>

<body class="bg-color d-flex flex-column justify-content-center align-items-center p-20 font-primary py-10">
    <table class="table">
        <thead>
            <tr>
                <th>NAME</th>
                <th>ROLE</th>
                <th>STATUS</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Tony Reichert</td>
                <td>CEO</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>Zoey Lang</td>
                <td>Technical Lead</td>
                <td>Paused</td>
            </tr>
            <tr>
                <td>Jane Fisher</td>
                <td>Senior Developer</td>
                <td>Active</td>
            </tr>
            <tr>
                <td>William Howard</td>
                <td>Community Manager</td>
                <td>Vacation</td>
            </tr>
        </tbody>
    </table>
    <script src="/assets/js/mizchin.min.js"></script>
</body>

</html>