@use "../../../../../sass/kernel/" as *;



.story-line::after {
    content: "";
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    background-image: url("../media/images/story-ring.svg");
    background-size: cover;
    background-position: center;
    box-shadow: 10px -10px 5px rgba(220, 5, 172, 0.06),
        0px 0px 5px rgba(235, 53, 44, 0.32),
        -10px 10px 5px rgba(245, 155, 8, 0.06),
        inset 10px -10px 5px rgba(220, 5, 172, 0.09),
        inset 0px 0px 5px rgba(235, 53, 44, 0.4),
        inset -10px 10px 5px rgba(245, 155, 8, 0.09);
    border-radius: 50%;
}

