<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate-of-appreciation</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="font-primary">
        <div class="w-6 story">
            <div data-modal-id="story-1" class="modal-toggle w-100 bg-color px-3 py-3 aspect-ratio-1x1 radius-all-full d-flex align-items-center justify-content-center">
                <div class="story-line p-2 w-100 position-relative d-flex align-items-center justify-content-center radius-all-full overflow-hidden aspect-ratio-1x1">
                    <img class="object-cover w-100 aspect-ratio-1x1 radius-all-full" src="./assets/media/images/f5f8c5c742526d421790aa78ffe3bc1f0dfb31cf_1740600880-169x300.webp" alt="" class="w-100 h-100 border-full">
                </div>
            </div>
        </div>
    </body>
</html>