<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../../../assets/css/miz.min.css">
</head>
<body class="d-flex flex-column gap-10 bg-color py-5 align-items-center font-secondary font-weight-bold">
    <div class="tab tab-list-slider" data-tab-list-position="top">
        <div class="tab-list ">
            <div class="tab-label active">Photo</div> 
            <div class="tab-label">Music</div>
            <div class="tab-label">Video</div>
        </div>
        <div class="tab-contents">
            <div class="tab-content active">Tab 1 content</div>
            <div class="tab-content">Tab 2 content</div>
            <div class="tab-content">Tab 3 content</div>
        </div>
    </div>
    <script src="/assets/js/mizchin.min.js"></script>
</body>
</html>