@use "../../../../sass/kernel/" as *;


.biography {
    box-shadow: 3px 3px 10px get-color(shadow);
    @extend .d-flex, .flex-column, .radius-all-medium, .px-4, .py-4, .gap-5;

    img {
        @extend .w-100, .h-100, .radius-all-medium;
    }

    .content {
        @extend .d-flex, .flex-column, .gap-2, .font-weight-bold;

        .title {
            @extend .txt-mid-title, .text-color, .font-weight-bold;
        }

        .description {
            @extend .text-color, .txt-title;
        }
    }

}