<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center align-items-center bg-color">  
        <div class="btn-group">
            <button type="button" class="btn btn-primary">Left</button>
            <button type="button" class="btn btn-primary">Middle</button>
            <button type="button" class="btn btn-primary">Right</button>
        </div>     
    </body>
</html>