@use "../../../../sass/kernel/" as *;


// <!--* .line-height-3 *-->

// <!--* .line-height-3 *-->

.return-condition-box{
    @extend .d-flex, .gap-4, .px-8, .px-xl-4, .py-8, .radius-all-medium, .border-color, .bw-2, .border-style-dashed;

    .description{
        @extend .secondary-text-color, .txt-size-big;
    }
}