<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary d-flex flex-column bg-color align-items-center pt-4 gap-2 w-100 h-100">
        <div class="pagination gap-1" data-pagination-size="40px">
            <div class="previous-button btn"><i class="fa-solid fa-angle-left"></i><p>previous</p></div>
            <div class="page">1</div>
            <div class="page">2</div>
            <div class="page">3</div>
            <div class="page">4</div>
            <div class="page">5</div>
            <div class="next-button btn"><p>next</p> <i class="fa-solid fa-angle-right"></i></div>
        </div>
        <script src="/assets/js/mizchin.min.js"></script>
    </body>
</html>