<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate-of-appreciation</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary">

        <div class="product-qa">
            <div class="question-container">
                <div class="d-flex gap-3 align-items-center">
                    <svg width="35" height="28" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.113281" y="0.365234" width="25.1514" height="17.75" rx="5" fill="var(--warning-light)"></rect>
                        <path d="M12.1137 10.5801V10.3001C12.1137 9.39346 12.6737 8.91344 13.2337 8.52677C13.7804 8.15344 14.327 7.67346 14.327 6.79346C14.327 5.56679 13.3404 4.58008 12.1137 4.58008C10.887 4.58008 9.90039 5.56679 9.90039 6.79346" stroke="var(--warning-dark)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        <path d="M12.107 13.7663H12.119" stroke="var(--warning-dark)" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                    <p class="text-quesiton">سلام این آیفون ۱۳ بعد ورود آیفون ۱۶ تولید موقف میشه و بروزرسانی دریافت نمیکنه؟104میلیون ۸دی ۱۴۰۲</p>
                </div>
                <div class="d-flex gap-2 align-items-center">
                    <div class="like-comment btn">
                        <p class="count">25</p>
                        <i class="fa-regular fa-thumbs-up"></i>
                    </div>
                    <div class="like-comment btn">
                        <p class="count">3</p>
                        <i class="fa-regular fa-thumbs-down"></i>
                    </div>
                </div>
            </div>
            <div class="answer-container">
                <span class="btn-answer">پاسخ</span>
                <div class="answer-description">
                    <p class="text-answer">سلام اقلام همراهش آداپتور ۳۳ وات و کابل شارژ ، یه کاور ژله ای و سوزن سیم‌کارت هست</p>
                    <div class="user-name">وحید دانا <span class="user-type">خریدار</span></div>
                </div>
            </div>
        </div>

    </body>
</html>