@use "../../../../sass/config/_dims" as *;
@use "../../../../sass/config/_typography" as *;
@use "../../../../sass/kernel" as *;
@use "../../config" as *;
@use 'sass:map';

header .secondary-part {
    transform: translateY(0%);
    box-shadow: 0px 6px 7px 0px rgba(135, 145, 172, 0.07);
    z-index: 99;
    transition: 1s ease;
}

header .secondary-part.hide-submenu {
    transform: translateY(-100%);
}

header .container:has(.secondary-part.hide-submenu) {
    height: var(--height-primary-part);
}

header .container {
    transition: 1s ease;
}
