<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>topseller</title>
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
</head>

<body class="font-primary d-grid grid-3">
    <button class="modal-toggle" data-modal-id="sharingProduct">اشتراک گذاری</button>
    <dialog id="sharingProduct" class="modal-container sharing-modal">
        <div class="modal-content d-flex justify-content-center align-items-center">
            <div class="d-flex flex-column px-6 radius-all-medium bg-color w-30 w-lg-50 w-sm-75">
                <div class="d-flex justify-content-space-between align-items-center py-6 border-color bb-style-solid bw-1">
                    <p class="txt-high-title font-weight-semi-bold on-secondary-color">اشتراک گذاری</p>
                    <i class="fa-solid fa-close modal-close secondary-text-color txt-size-big-title"></i>
                </div>
                <div class="d-flex flex-column align-items-start gap-2 py-4 border-color bb-style-solid bw-1">
                    <p class="txt-size-mid-title font-weight-bold on-secondary-color">این کالا را با دوستان خود به اشتراک بگذارید!</p>
                    <div class="d-flex gap-4">
                        <img class="w-6 aspect-ratio-1x1 object-contain" src="./assets/media/images/component/Group-12.webp" alt="">
                        <p class="txt-size-big font-weight-medium on-secondary-color">گوشی موبایل اپل مدل پرومکس دو سیم‌ کارت نات اکتیو</p>
                    </div>
                </div>
                <div class="d-flex align-items-start gap-2 py-4 border-color bb-style-solid bw-1">
                    <a href="#" class="d-flex flex-column align-items-center justify-content-center grow-1 gap-2 bw-1 border-color bie-style-solid">
                        <i class="fa-brands fa-facebook txt-high-title on-secondary-color"></i>
                        <p class="txt-size-title font-weight-medium on-secondary-color">فیسبوک</p>
                    </a>
                    <a href="#" class="d-flex flex-column align-items-center justify-content-center grow-1 gap-2 bw-1 border-color bie-style-solid">
                        <i class="fa-brands fa-whatsapp txt-high-title on-secondary-color"></i>
                        <p class="txt-size-title font-weight-medium on-secondary-color">واتساپ</p>
                    </a>
                    <a href="#" class="d-flex flex-column align-items-center justify-content-center grow-1 gap-2">
                        <i class="fa-brands fa-telegram txt-high-title on-secondary-color"></i>
                        <p class="txt-size-title font-weight-medium on-secondary-color">تلگرام</p>
                    </a>
                </div>
                <div class="d-flex flex-column align-items-center gap-2 py-6">
                    <div class="d-flex align-items-center flex-row-reverse gap-6 copy-address">
                        <div class="d-flex align-items-center cursor-pointer gap-4 font-size-19px text-variantly-color flex-row-reverse copy-item">
                            <i class="d-flex icon-copy on-secondary-color"></i>
                            <p class="txt-size-extra-title font-weight-semi-bold on-secondary-color">کپی کردن لینک</p>
                        </div>
                        <p class="text-color font-weight-100 txt-size-title d-none site-url"></p>
                    </div>
                </div>
            </div>
        </div>
    </dialog>

    <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>