@use "../../../../sass/kernel/" as *;


.modal-container.cart-modal {
    @extend .modal-container, .bg-transparent-color, .justify-content-center, .align-items-center;
    
    &::after{
        content: "";
        background-color: rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(1px);
        @extend .w-100, .h-100, .position-absolute, .top-0, .left-0, .d-flex;
    }

    
    &.show {
        & .modal-content {
            animation: cart-modal-open 0.3s ease-out forwards;
        }
        &::after{
            animation: cart-modal-open-backdrop  0.3s ease-out forwards;
        }
    }
    
    &.hide {
        & .modal-content {
            animation: cart-modal-close 0.3s ease-out forwards;
        }
        &::after{
            animation: cart-modal-close-backdrop  0.3s ease-out forwards;
        }
    }

    .modal-content {
        background-color: unset;
        backdrop-filter: unset;
        @extend .position-absolute, .top-0, .left-0, .z-index-10, .d-flex, .flex-column, .align-items-center, .overflow-hidden, .w-100, .h-100;
    }

    .modal-close {
        @extend .cursor-pointer;
    }
}

@keyframes cart-modal-open {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

@keyframes cart-modal-close {
    from {
        opacity: 1;
        transform: translateY(0%);
    }
    
    to {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes cart-modal-open-backdrop {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes cart-modal-close-backdrop {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}