@use "../../../../../sass/kernel/" as *;


.focused-card {
    background-image: url("../../assets/media/images/category/Vector-7.svg") , radial-gradient(at center , #F6F7F8 1%, #B4CBD8 );
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 300ms;
    @extend .position-relative , .d-flex ,  .overflow-hidden , .w-100 , .h-100 , .radius-all-medium;

    &:hover::before {
        content: '';
        width: 105%;
        height: 105%;
    }

    &:hover::after {
        content: '';
        width: 98%;
        height: 98%;
    }

    &::before {
        content: '';
        background-image: url("../../assets/media/images/category/Vector-6.svg") ;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 300ms;
        @extend .w-100 , .h-100 , .position-absolute , .bottom-0 , .right-0 , .z-index-3 ;
    }

    &::after {
        content: '';
        background-image: url("../../assets/media/images/category/Vector-5.svg") ;
        background-repeat: no-repeat;
        background-size: cover;
        transition: all 300ms;
        @extend .w-100 , .h-100 , .position-absolute , .bottom-0 , .right-0 , .z-index-3 ;
    }

    &:hover .product-image {
        transform: scale(1.2);
    }

    .content {
        @extend .position-relative , .flex-column , .w-100 , .d-flex , .align-items-center , .justify-content-center ,.py-5;

        .product-image {
            transition: all 300ms;
            @extend .z-index-4;
        }

    }

    &:hover {
        background-image: url("../../assets/media/images/category/Vector-7.svg") ,  radial-gradient(get-color(primary)) ;
    }
}