<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary w-100 h-100 bg-color d-flex flex-column justify-content-center">
        <nav class="breadcrumb" data-breadcrumb-content-image="/assets/media/images/breadcrumb-arrow.webp" data-breadcrumb-content-image-size="30px">
            <ul class="txt-size-normal">
                <li>
                    <a href="#">miz</a>
                    <i class="fa-solid fa-house icon-small"></i>
                </li>
                <li>
                    <a href="#">Documentation</a>
                    <i class="fa-solid fa-book icon-small"></i>
                </li>
                <li class="active">
                    <a href="#">Components</a>
                    <i class="fa-solid fa-box icon-small"></i>
                </li>
            </ul>
        </nav>
        <script src="/assets/js/mizchin.min.js"></script>
    </body>
</html>