@use "../../../../../sass/kernel/" as *;


.contact-us-social-media{
    @extend .d-flex, .flex-column, .align-items-center, .gap-2;

    // <!--* bad structure code *-->
    & ~ .vertical-line{
        width: 1px;
        height: 1.5rem;
        background-color: get-color(divider);
    }
    // <!--* bad structure code *-->
}