@use "../../../../sass/kernel/" as *;

.register-comment-box {
  @extend .d-flex, .flex-column, .w-fit-content, .gap-7, .w-100;
}


.register-comment-box .registration-box {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, .1);
}

.register-comment-box .progress {
  width: 155px;
  height: 10px;
  border-radius: 100px;
}

.register-comment-box .progress-box {
  width: 175px;
}

.register-comment-box .stars-container {
  width: 93px;
  height: 18px;
}

.register-comment-box .stars-container .stars-full {
  background-image: url("../media/images/component/star-solid-full.svg");
  background-size: contain;
  background-repeat: repeat-x;
}

.register-comment-box .stars-container .stars {
  background-image: url("../media/images/component/star-thin-full.svg");
  background-size: contain;
  background-repeat: repeat-x;
  background-color: transparent;
}



@media screen and (width < 1200px) {
  .register-comment-box>div:first-child {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }

  .register-comment-box>div:first-child>div:last-child {
    align-items: center;
  }

  .register-comment-box .stars-container {
    width: 89px;
  }
}


@media screen and (width < 992px) {
  .register-comment-box>div:first-child {
    flex-direction: row-reverse;
    align-items: start;
  }

  .register-comment-box>div:first-child>div:last-child {
    align-items: end;
  }

  .register-comment-box .stars-container {
    width: 93px;
  }
}