<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>register-comment-box</title>
  <base href="../../../../../">
  <link rel="stylesheet" href="./assets/css/miz.min.css">
  <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
</head>

<body class="font-primary d-grid font-primary">
  <div class="register-comment-box">
    <div class="d-flex flex-row align-items-start justify-content-space-between">
      <div class="progress-box d-flex flex-column">
        <div class="d-flex flex-row align-items-center justify-content-space-between">
          <div class="progress">
            <div class="progress-bar bg-warning-regular-color" data-progress-percentage="70%"></div>
          </div>
          <span>5</span>
        </div>

        
        <div class="d-flex flex-row align-items-center justify-content-space-between">
          <div class="progress">
            <div class="progress-bar bg-warning-regular-color" data-progress-percentage="60%"></div>
          </div>
          <span>4</span>
        </div>

        
        <div class="d-flex flex-row align-items-center justify-content-space-between">
          <div class="progress">
            <div class="progress-bar bg-warning-regular-color" data-progress-percentage="50%"></div>
          </div>
          <span>3</span>
        </div>

        
        <div class="d-flex flex-row align-items-center justify-content-space-between">
          <div class="progress">
            <div class="progress-bar bg-warning-regular-color" data-progress-percentage="40%"></div>
          </div>
          <span>2</span>
        </div>



        <div class="d-flex flex-row align-items-center justify-content-space-between">
          <div class="progress">
            <div class="progress-bar bg-warning-regular-color" data-progress-percentage="30%"></div>
          </div>
          <span>1</span>
        </div>
      </div>

      <div class="d-flex flex-column align-items-end justify-content-space-between">
        <span class="txt-size-mega-title font-weight-bold on-secondary-color">3.3</span>

        <span class="font-weight-bold">۳۵ نظر</span>

        <div class="stars-container position-relative">
          <div class="stars-full position-absolute h-100 z-index-1 left-0 top-0" data-stars-width="50%"></div>
          <div class="stars position-absolute w-100 h-100 z-index-2 left-0 top-0"></div>
        </div>
      </div>
    </div>


    <div class="registration-box bg-color d-flex flex-column gap-3 px-9 py-7 radius-all-medium">
      <div class="d-flex flex-row align-items-center gap-2">
        <svg style="width: 24px; height: 24px;" viewBox="0 0 32 32">
          <path
            d="M13.32 30.373c-.8 0-1.56-.4-2.08-1.107l-1.6-2.133c0 .013-.067-.027-.093-.027h-.493c-4.56 0-7.387-1.24-7.387-7.387v-5.333c0-5.613 3.427-7.08 6.307-7.333.32-.04.693-.053 1.08-.053h8.533c4.827 0 7.387 2.56 7.387 7.387v5.333c0 .387-.013.76-.067 1.12-.24 2.84-1.707 6.267-7.32 6.267h-.533l-1.653 2.16c-.52.707-1.28 1.107-2.08 1.107zM9.053 9c-.307 0-.6.013-.88.04-3.093.267-4.507 1.96-4.507 5.347v5.333c0 4.573 1.413 5.387 5.387 5.387h.533c.6 0 1.28.333 1.653.813l1.6 2.147c.293.4.667.4.96 0l1.6-2.133c.387-.52 1-.827 1.653-.827h.533c3.387 0 5.08-1.427 5.333-4.467.04-.32.053-.613.053-.92v-5.333c0-3.72-1.667-5.387-5.387-5.387H9.051z">
          </path>
          <path
            d="M13.32 18.92c-.747 0-1.333-.6-1.333-1.333s.6-1.333 1.333-1.333 1.333.6 1.333 1.333-.587 1.333-1.333 1.333zM17.586 18.92c-.747 0-1.333-.6-1.333-1.333s.6-1.333 1.333-1.333 1.333.6 1.333 1.333-.6 1.333-1.333 1.333zM9.068 18.92c-.747 0-1.333-.6-1.333-1.333s.6-1.333 1.333-1.333 1.333.6 1.333 1.333-.6 1.333-1.333 1.333z">
          </path>
          <path
            d="M23.92 21.72a.989.989 0 0 1-.72-.307.97.97 0 0 1-.267-.813c.04-.28.053-.573.053-.88v-5.333C22.986 10.667 21.32 9 17.6 9H9.066c-.307 0-.6.013-.88.04-.293.04-.6-.067-.813-.267a1.02 1.02 0 0 1-.307-.8c.24-2.88 1.72-6.307 7.333-6.307h8.534c4.827 0 7.387 2.56 7.387 7.387v5.333c0 5.613-3.427 7.08-6.307 7.333h-.093zM9.226 7h8.36c4.827 0 7.387 2.56 7.387 7.387v5.16c2.267-.56 3.333-2.227 3.333-5.16V9.054c0-3.72-1.667-5.387-5.387-5.387h-8.533c-2.933 0-4.587 1.067-5.16 3.333z">
          </path>
        </svg>

        <span class="font-weight-bold txt-size-title">نظر خود را در مورد این محصول بنویسید ...</span>
      </div>

      <button
        class="bg-button-color button-text-color w-100 d-flex flex-row align-items-center justify-content-center gap-2 py-3 radius-all-small">
        <span class="font-weight-bold txt-size-mid-title">افزودن نظر</span>
        <i class="fa-solid fa-plus txt-size-title"></i>
      </button>
    </div>
  </div>



  <script src="./assets/js/mizchin.min.js"></script>
</body>

</html>