<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/miz.min.css">
    <style>
    </style>
</head>

<body class="bg-color px-3 py-2 font-primary">
    <div class="select" id="customSelect">
        <label class="select-label">Select an animal</label>
        <ul class="select-list">
            <li class="select-option disable">Elephant</li>
            <li class="select-option">Lion</li>
            <li class="select-option">Tiger</li>
            <li class="select-option">Giraffe</li>
            <li class="select-option">Dolphin</li>
            <li class="select-option">Penguin</li>
            <li class="select-option">Zebra</li>
            <li class="select-option">Shark</li>
        </ul>
    </div>

    <script src="/assets/js/mizchin.min.js"></script>
</body>

</html>