@use "../../../../sass/kernel/" as *;

.baner-mobile {
    @extend .d-flex, .flex-column, .align-items-center, .justify-content-center, .overflow-hidden, .radius-all-large, .px-5, .bg-primary-color;

    .title {
        @extend .txt-mega-title, .font-weight-bold, .on-primary-color;
    }

}
