<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>baner-mobile</title>
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
</head>

<body class="font-primary d-grid grid-3">
    <div class="baner-mobile position-relative">
        <h3 class="title">موبایل</h3>
        <img src="./assets/media/images/component/7ff6959341b2fa9850e5e896763203c2007ba5f0.webp" alt="" class="h-100"
            height="" width="240px">
        <img src="./assets/media/images/component/بنر دسته لپ تاپ (1).webp" alt="" class="position-absolute">
    </div>
</body>

</html>