<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>slider</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="d-flex justify-content-center align-items-center font-primary">



<div class="slider d-flex flex-column align-items-center gap-4 w-30">
    <div class="slider-wrapper slider-row slider-loop position-relative aspect-ratio-1x1 radius-all-medium overflow-hidden border-color bw-1 border-style-solid w-100">
            <div class="slider-container">
            <div id="sliderOne" class="slider-content d-flex flex-column justify-content-center align-items-center">
                <img src="./assets/media/images/componnent/1.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderTwo" class="slider-content">
                <img src="./assets/media/images/componnent/3.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderThree" class="slider-content active">
                <img src="./assets/media/images/componnent/7.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderFour" class="slider-content">
                <img src="./assets/media/images/componnent/8.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderFive" class="slider-content">
                <img src="./assets/media/images/componnent/9.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderSix" class="slider-content">
                <img src="./assets/media/images/componnent/10.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderSeven" class="slider-content">
                <img src="./assets/media/images/componnent/2.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderEight" class="slider-content">
                <img src="./assets/media/images/componnent/5.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderNine" class="slider-content">
                <img src="./assets/media/images/componnent/6.webp" alt="" class="w-100 h-100 object-contain">
            </div>
            <div id="sliderTen" class="slider-content">
                <img src="./assets/media/images/componnent/4.webp" alt="" class="w-100 h-100 object-contain">
            </div>
        </div>
    </div>
    <div class="slider-arrows d-flex w-100 justify-content-space-between align-items-center">
        <div class="slider-arrow-prev cursor-pointer w-10 aspect-ratio-1x1 bg-primary-color secondary-color radius-all-full d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-arrow-left"></i>
        </div>
        <div class="slider-arrow-next cursor-pointer w-10 aspect-ratio-1x1 bg-primary-color secondary-color radius-all-full d-flex align-items-center justify-content-center">
            <i class="fa-solid fa-arrow-right"></i>
        </div>
    </div>

    <div class="slider-toggles d-grid grid-7 gap-3 justify-content-start">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderOne" src="./assets/media/images/componnent/1-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderTwo" src="./assets/media/images/componnent/3-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderThree" src="./assets/media/images/componnent/7.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderFour" src="./assets/media/images/componnent/8-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderFive" src="./assets/media/images/componnent/9-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderSix" src="./assets/media/images/componnent/10-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderSeven" src="./assets/media/images/componnent/2-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderEight" src="./assets/media/images/componnent/5-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderNine" src="./assets/media/images/componnent/6-100x100.webp" alt="">
            <img class="slider-toggle w-100 cursor-pointer radius-all-extra-large" data-slider-id="sliderTen" src="./assets/media/images/componnent/4-100x100.webp" alt="">
    </div>
</div>

    <script src="./assets/js/mizchin.min.js"></script>
    <script src="./assets/js/header.js"></script>
</body>
</html>