<!doctype html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>certificate-of-appreciation</title>
    <base href="../../../../../../" />
    <link rel="stylesheet" href="./assets/css/miz.min.css" />
    <link rel="stylesheet" href="./assets/vendors/swiper/swiper-bundle-min.css"/>
    <link rel="stylesheet" href="./assets/vendors/swiper/style.css" />
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css" />
  </head>
  <body class="font-primary">

    <!-- <section class="container"> -->
      <div class="card-container swiper w-100">
        <div class="banner-card-content">
          <div class="swiper-wrapper">
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo1.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo2.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo3.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo4.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo5.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo6.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo1.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo7.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo2.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo3.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo8.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo9.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo10.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo11.webp" alt="" class="w-100 object-contain">
            </div>
            <div class="logo div px-2 swiper-slide">
                <img src="./assets/media/images/homepage/logo5.webp" alt="" class="w-100 object-contain">
            </div>
          </div>
        </div>

        <!-- Navigation Buttons -->
        <div class="swiper-button-next">
            <i class="fa-solid fa-chevron-right on-secondary-color"></i>
        </div>

        <div class="swiper-button-prev">
            <i class="fa-solid fa-chevron-left on-secondary-color"></i>
        </div>

        <!-- Pagination -->
        <!-- <div class="swiper-pagination"></div> -->
      </div>
    <!-- </section> -->

    <script src="./assets/vendors/swiper/swiper-bundle-min.js"></script>
    <script src="./assets/js/mizchin.min.js"></script>
  </body>
</html>
