@use "../../../../sass/config/_dims" as *;
@use "../../../../sass/config/_typography" as *;
@use "../../../../sass/kernel" as *;
@use "../../config" as *;
@use 'sass:map';


.accordion-group {
    @extend .d-flex, .flex-column, .gap-4;

    &.accordion-compact{
        gap: 0;
        @extend .gap-0, .overflow-hidden;

        .accordion{
            @extend .radius-all-none;
        }
    }

    &.accordion-outline {
        .accordion {
            background-color: transparent !important;
        }
    }

    .accordion {
        @extend .w-100, .overflow-hidden, .bg-color, .secondary-color, .#{$font-prefix}-normal, .radius-all-small;

        .accordion-box {
            transition: 0.3s;
            min-width: 100%;
            grid-template-rows: 0fr 0fr;
            @extend .d-grid, .gap-1, .px-3, .py-3, .radius-all-medium;

            .accordion-header {
                @extend .w-100, .d-flex, .flex-row, .justify-content-space-between, .align-items-center, .title-text-color, .font-weight-medium, .pb-1, .#{$font-prefix}-extra-title, .pt-2, .pl-2, .cursor-pointer;

                &.accordion-header .chevron-down, &.accordion-header > i{
                    transition: 0.3s;
                }
            }

            & .accordion-body {
                @extend .opacity-0, .overflow-hidden, .text-color, .font-weight-bold, .#{$font-prefix}-title, .radius-all-extra-small;
            }
        }

        & .accordion-box:has(.accordion-header.active) {
            grid-template-rows: 0fr 1fr;

            .accordion-header .chevron-down, .accordion-header > i{
                transform: rotate(180deg);
            }
        }

        & .accordion-body {
            transition: 0.3s;
        }

        & .accordion-header.active ~ .accordion-body {
            @extend .opacity-#{calc(1 / map.get($conf-opacity, factor))}, .py-6;
        }
    }

    &.scroll-accordion {
        max-height: 500px;
        @extend .overflow-y-scroll;
    }

    &.accordion-zebra .accordion:nth-child(2n-1) {
        @extend .bg-secondary-light-color, .secondary-color;
    }

    &.comment-show-more{
        .accordion{
            @extend .bg-transparent-color;
        }
    }
    &.shop-filter{
        @extend .gap-1;
        .accordion{
            @extend .bg-color, .radius-all-medium;
        }
    }
}