<!DOCTYPE html>
<html lang="fa" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accordion</title>
    <base href="../../../../../">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
</head>
<body class="font-primary">
    <div class="accordion-group font-primary">
        <div class="accordion accordion-relative">
            <div class="accordion-box">
                <span class="accordion-header">I have two user accounts in iShop, can I merge them?<i class="fa-solid fa-chevron-down mr-1"></i></span>
                <div class="accordion-body">
                    <p class="">Lorem ipsum is a dummy text produced with simplicity and incomprehensibility from the printing industry and using graphic designers. Printers and texts, as well as newspapers and magazines, in columns and rows as necessary, and for current conditions, the required technology and various applications are aimed at improving practical tools. Many books in the past sixty-three percent, present, and future require extensive knowledge of society and specialists so that with software, they can create more knowledge for computer designers, especially creative designers and the pioneering culture in the Persian language. In this case, one can hope that all the difficulties existing in presenting solutions and hard typing conditions will end, and the time required, including the main achievements of typesetting, will be used to answer the continuous questions of the existing world of design.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="./assets/js/mizchin.min.js"></script>
</body>
</html>
