<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/miz.min.css">
</head>

<body class="font-primary bg-color d-flex flex-column justify-content-start align-items-center gap-4 w-100 h-100 p-3">
    <div class="progress">
        <div class="progress-bar progress-striped progress-animation-striped progress-animation" data-progress-percentage="50%" data-progress-duration="1s"></div>
        <div class="progress-bar progress-striped progress-animation-striped progress-animation bg-on-secondary-color" data-progress-percentage="50%" data-progress-duration="1s" data-progress-delay="1s"></div>
    </div>
    <script src="/assets/js/mizchin.min.js"></script>
</body>

</html>