@use "../../../../sass/config/_dims" as *;
@use "../../../../sass/kernel/" as *;
@use 'sass:map';


.information-tooltip{
    @extend .position-relative, .w-fit-content, .h-fit-content, .d-flex, .justify-content-center, .align-items-center;

    &.tooltip-top{
        span.box{
            bottom: calc(100% + 1.8rem);
            left: 50%;
            transform: translateX(-50%);
        }
    }
    
    span.box{
        transition:  0.2s linear;
        white-space: nowrap;
        box-shadow: 0px 5px 19px -5px rgba(0, 0, 0, 0.17);
        visibility: hidden;
        @extend .txt-align-center, .position-absolute, .z-index-1, .w-fit-content, .h-fit-content, .opacity-0, .px-2, .py-1, .on-primary-color, .radius-all-small, .bg-white-color, .on-secondary-color, .txt-size-big;
    }
    &:hover span.box{
        visibility: visible;
        @extend .opacity-#{calc(1 / map.get($conf-opacity , factor))};
    }
}