<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>card tooltip</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="d-flex flex-column align-items-center justify-content-center h-100vh font-primary">

        <div class="information-tooltip tooltip-top">
            <div class="w-50 bw-1 border-color border-style-solid d-flex p-5 radius-all-medium">
                <img class="w-100 cursor-pointer" src="./assets/media/images/component/1-10-300x300.webp" alt="">
            </div>
            <span class="box d-flex flex-row gap-4">
                <div class="d-flex justify-content-space-between align-items-center w-100 gap-12 px-5 py-3 radius-all-medium">
                    <p class="w-60 txt-big text-color font-weight-bold txt-align-start line-height-3">
                Sony PlayStation Slim 1TB Console
                <br>
                Europe Region PlayStation Slim </p>
                    <div class="d-flex align-items-end justify-content-end">
                        <div class="d-flex flex-column align-items-end">
                            <div class="d-flex align-items-center justify-content-center gap-2">
                                <span class="discount-price-color font-weight-bold txt-decoration-line-through txt-small d-flex align-items-center">2,555,000</span>
                                <span class="on-primary-color bg-primary-color font-weight-bold radius-all-small px-1 d-flex align-items-center">26<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 12 12" fill="none">
                                        <path d="M9.60693 2.06839L1.99155 9.68377" stroke="white" stroke-width="3" stroke-linecap="round">
                                        </path>
                                        <circle cx="2.11538" cy="3.03848" r="2.11538" fill="white">
                                        </circle>
                                        <circle cx="8.88443" cy="8.96155" r="2.11538" fill="white">
                                        </circle>
                                    </svg>
                                </span>
                            </div>
                            <span class="font-weight-bold txt-high-title text-color d-flex gap-1 align-items-center">
                            <span class="font-weight-bold text-color txt-mid-title">$</span>49,800,000
                            </span>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="58" height="35" viewBox="0 0 58 35" fill="none" style="position: absolute;bottom: 5px;left: 50%;transform: translateX(-50%) translateY(100%);">
                    <g filter="url(#filter0_d_1375_2798)">
                        <path d="M24.9238 15.8828C26.8483 19.2161 31.6536 19.2161 33.5781 15.8828C33.911 15.3063 34.2695 14.6854 34.6555 14.0167C40.0601 4.65574 47.5488 4.65574 47.5488 4.65574H10.9531C10.9531 4.65574 18.4419 4.65574 23.8464 14.0167C24.2325 14.6854 24.591 15.3063 24.9238 15.8828Z" fill="white"></path>
                    </g>
                    <defs>
                        <filter id="filter0_d_1375_2798" x="0.953125" y="0.65625" width="56.5938" height="33.7266" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                            <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                            <feOffset dy="6"></feOffset>
                            <feGaussianBlur stdDeviation="5"></feGaussianBlur>
                            <feComposite in2="hardAlpha" operator="out"></feComposite>
                            <feColorMatrix type="matrix" values="0 0 0 0 0.772917 0 0 0 0 0.84359 0 0 0 0 0.875 0 0 0 0.64 0"></feColorMatrix>
                            <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1375_2798"></feBlend>
                            <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_1375_2798" result="shape"></feBlend>
                        </filter>
                    </defs>
                </svg>
            </span>
        </div>

    </body>
</html>