<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="bg-color font-primary px-5 py-4 flex-column d-flex flex-column gap-3">

        <!-- <h3 class="txt-high-title title-text-color mt-4 mb-2">Input</h3> -->
        <div class="form-field flex-row">
            <input type="file" class="form-control" id="exampleFormControlInput2" placeholder="">
        </div>
    </body>
</html>