<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center align-items-center gap-2">
        <ul class="nav">
            <li class="nav-item">
                <p>link</p>
            </li>
            <li class="nav-item">
                <a href="#">link</a>
            </li>
            <li class="nav-item active">
                <a href="#">link</a>
            </li>
            <li class="nav-item" disabled>
                <a href="#">disabled</a>
            </li>
        </ul>
        <script src="/assets/js/mizchin.min.js"></script>
    </body>
</html>