<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>article - related</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="d-grid grid-1 font-primary">
        <div class="banner">
            <div class="cantainer-image">
                <img class="waterfall" src="./assets/media/images/component/Group 189.svg" alt="">
                <img class="image-product" src="./assets/media/images/component/iPhone_17_Pro_Silver_PDP_Image_Position_3__DEDE 1 (1).png" alt="">
                <img class="red-caver" src="./assets/media/images/component/Rectangle 4.svg" alt="">
            </div>
            <div class="cantainer-text">
                <img class="angle-right" src="./assets/media/images/component/Vector 1.svg" alt="">
                <p class="subtitle">Apple Smart Mobile Phone</p>
                <p class="title">For those who are not satisfied with less</p>
                <p class="name-product">Apple iPhone 17 Pro</p>
                <img class="angle-left" src="./assets/media/images/component/Vector 2.svg" alt="">
            </div>
        </div>
    </body>
</html>