<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets//icons/fontawesome/css/all.css">
    </head>
    <body class="font-primary w-100 h-100 d-flex flex-column justify-content-center align-item-center gap-2">
        <ul class="list-group-flush w-50 flex-column">
            <li class="list-group-item"><input type="checkbox" id="firtsitem"><label for="firtsitem">test</label></li>
            <li class="list-group-item"><input type="radio" name="r1" id="seconditem"><label for="seconditem">test</label></li>
            <li class="list-group-item"><input type="radio" name="r1" id="thirditem"><label for="thirditem">test</label></li>
        </ul>
        <script src="/assets/js/mizchin.min.js"></script>
    </body>
</html>