@use "../../../../sass/kernel/" as *;

.rating-card{
    box-shadow: inset 34px 34px 52px 29px rgba(0, 0, 0, 0.03), 90px 160px 200px -120px rgba(0, 0, 0, 0.2);
    @extend .d-flex, .flex-column, .justify-content-center, .position-relative, .w-100,.gap-7, .bg-color, .radius-all-medium, .py-13, .px-10;

    .card-header{
        @extend .d-flex, .flex-column, .align-items-center, .gap-3, .pb-7;

        .title{
            @extend .text-color, .font-weight-bold;
        }

        .rating-star{
            @extend .d-flex,.gap-1;

            i.active{
                color: #DEA444;
            }
        }

        .rating-count{
            @extend .d-flex, .justify-content-space-between, .gap-1;

            .description{
                @extend .secondary-text-color, .txt-size-small, .font-weight-bold;
            }
            
            .number{
                @extend .secondary-text-color, .txt-size-small, .font-weight-bold;
            }
        }
    }
    
    .card-body{
        @extend .d-flex, .flex-column,.gap-4;

        .percentage-point{
            @extend .d-flex, .flex-column, .gap-2;

            .description-container{
                @extend .d-flex, .justify-content-space-between, .align-items-center, .gap-2;
                
                .comment-number{
                    @extend .secondary-text-color, .txt-size-subtitle, .font-weight-bold;
                }
            }
        }
    }
    
    .card-footer{
        @extend .d-flex, .align-items-center, .justify-content-center, .gap-2;

        .comments-number{
            @extend .d-flex, .flex-column, .align-items-center, .gap-4, .pie-2, .bw-2, .border-color, .bie-style-solid;

            &:last-child{
                border: unset;
            }

            .count{
                @extend .font-weight-bold, .txt-size-title, .text-color;
            }
            
            .description{
                @extend .txt-size-big, .secondary-text-color, .font-weight-bold, .txt-align-center;
                text-wrap: nowrap;
            }
        }
    }
}