<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>rating card</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary d-grid grid-5 font-primary">

        <div class="rating-card">
            <div class="card-header">
                <!--* extra-title *-->
                <span class="title" style="font-size: 3rem;">3.5</span>
                <!--* extra-title *-->
                <div class="rating-star">
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                </div>
                <div class="rating-count">
                    <span class="description">تعداد امتیازها </span>
                    <span class="number">4</span>
                </div>
            </div>
            <div class="card-body">
                <div class="percentage-point">
                    <div class="description-container">
                        <div class="d-flex align-items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 9" fill="none">
                                <path d="M6.73438 1.6543L1.35305 7.03562" stroke="var(--success-regular)" stroke-width="2" stroke-linecap="round"></path>
                                <ellipse cx="1.58466" cy="2.13446" rx="1.49481" ry="1.49481" fill="var(--success-regular)"></ellipse>
                                <ellipse cx="6.44012" cy="6.42938" rx="1.49481" ry="1.49481" fill="var(--success-regular)"></ellipse>
                            </svg>
                            <span class="d-flex align-items-center gap-1 txt-size-title font-weight-bold">
                                <span class="success-regular-color font-weight-bold txt-high-title ml-1">50</span>مثبت
                            </span>
                        </div>
                        <span class="comment-number">2 نفر</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-success-regular-color" data-progress-percentage="calc(50 * 1%)"></div>
                    </div>
                </div>
                <div class="percentage-point">
                    <div class="description-container">
                        <div class="d-flex align-items-center gap-1">
                            <svg xmlns=" http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 9" fill="none">
                                <path d="M6.73438 1.6543L1.35305 7.03562" stroke="var(--warning-dark)" stroke-width="2" stroke-linecap="round"></path>
                                <ellipse cx="1.58466" cy="2.13446" rx="1.49481" ry="1.49481" fill="var(--warning-dark)"></ellipse>
                                <ellipse cx="6.44012" cy="6.42938" rx="1.49481" ry="1.49481" fill="var(--warning-dark)"></ellipse>
                            </svg>
                            <span class="d-flex align-items-center gap-1 txt-size-title font-weight-bold">
                                <span class="warning-dark-color font-weight-bold txt-high-title ml-1">25</span>بی طرف
                            </span>
                        </div>
                        <span class="comment-number">2 نفر</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning-dark-color" data-progress-percentage="25%"></div>
                    </div>
                </div>
                <div class="percentage-point">
                    <div class="description-container">
                        <div class="d-flex align-items-center gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 8 9" fill="none">
                                <path d="M6.73438 1.6543L1.35305 7.03562" stroke="var(--warning-regular)" stroke-width="2" stroke-linecap="round"></path>
                                <ellipse cx="1.58466" cy="2.13446" rx="1.49481" ry="1.49481" fill="var(--warning-regular)"></ellipse>
                                <ellipse cx="6.44012" cy="6.42938" rx="1.49481" ry="1.49481" fill="var(--warning-regular)"></ellipse>
                            </svg>
                            <span class="d-flex align-items-center gap-1 txt-size-title font-weight-bold">
                                <span class="warning-regular-color font-weight-bold txt-size-big-title ml-1">25</span>منفی
                            </span>
                        </div>
                        <span class="comment-number">2 نفر</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar bg-warning-regular-color" data-progress-percentage="25%"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="comments-number">
                    <span class="count">4</span>
                    <span class="description">دیــــدگاه<br>   کــــل کالا </span>
                </div>
                <div class="comments-number">
                    <span class="count">0</span>
                    <span class="description">خریداران<br>   کــــل کالا </span>
                </div>
                <div class="comments-number">
                    <span class="count">4</span>
                    <span class="description">دیــــدگاه<br> کاربـــــران </span>
                </div>
            </div>
        </div>

    <script src="./assets/js/mizchin.min.js"></script>
    </body>
</html>