@use "../../../config/responsive" as *;
@use "../../../../themes/mizoon/config/responsive" as *;
@use "responsive" as *;
@use 'sass:list';
@use 'sass:meta';
@use 'sass:map';
@use 'sass:string';

$paddings-list-class:"p","pt","pb","pl","pr","px","py","pis","pie";
$margin-list-class:"m","mt","mb","ml","mr","mx","my","mis","mie";
$gap-list-class:gap;
$col-gap-list-class:"g","gx","gy";
$letter-spacing-list-class:"ls";
$line-height-list-class:"lh";

$map-padding:(p:padding , pt:padding-top , pb:padding-bottom , pl:padding-left , pr:padding-right , px:(padding-left , padding-right) , py:(padding-top , padding-bottom) , pis:padding-inline-start , pie:padding-inline-end);
$map-margin:(m:margin , mt:margin-top , mb:margin-bottom , ml:margin-left , mr:margin-right , mx:(margin-left , margin-right) , my:(margin-top , margin-bottom) , mis:margin-inline-start , mie:margin-inline-end);
$map-gap:(gap:gap);
$map-col-gap:(g:(column-gap , row-gap , "--gx" , "--gy") , gx:(column-gap , "--gx") , gy:(row-gap , "--gy"));
$map-letter-spacing:(ls:letter-spacing);
$map-line-height:(lh:line-height);

@function generate-class-name-list-space($name-list, $map-config) {
    $is-responsive: check-status($map-config , responsive);
    $class-name-list: ();
    $count:map.get($map-config , count);

    @if ($count == 0){
        @return ();
    }
    @if($is-responsive) {
        @for $i from 1 through list.length($name-list){
            $class-name-list: list.join($class-name-list, generate-responsive-classes(list.nth($name-list , $i) , $count, "number", true));
        }
    }

    @else {
        @for $i from 1 through list.length($name-list){
            $class-name-list: list.join($class-name-list, generate-classes(list.nth($name-list , $i), $count, "number", true));
        }
    }
    @return $class-name-list;
}

@function generate-key($name , $map-property){
    $split-dot:string.split($name , ".");
    $split-class:string.split(list.nth($split-dot , list.length($split-dot)) , "-");
    $prefix:list.nth($split-class , 1);
    $key:map.get($map-property , $prefix);
    @return $key;
}

@function generate-value-space($name , $map-config , $map-property){
    $factor:map.get($map-config , factor);
    $unit:map.get($map-config , unit);
    $key:generate-key($name , $map-property);
    $split-class:string.split($name , "-");
    $number:list.nth($split-class , list.length($split-class));
    $value:$factor * cast-string-number($number);
    $value:$value + $unit;
    $value-list:();

    @if meta.type-of($key) == list{
        @for $i from 1 through list.length($key){
            $value-list:list.append($value-list,$value , comma);
        }
        @return $value-list;
    }
    @return $value;
}

@function generate-total-map-list($name-list , $map-property , $map-config){
    $list:();
    $map:();
    $class-name-list:generate-class-name-list-space($name-list, $map-config);
    @if list.length($class-name-list) == 0 {
        @return ();
    }
    @for $i from 1 through list.length($class-name-list){
        $class-item:list.nth($class-name-list , $i);
        $map:(
            className:$class-item,
            propertyKeys:generate-key($class-item , $map-property),
            propertyValues:generate-value-space($class-item , $map-config , $map-property)
        );
        $list:list.append($list , $map , comma);
    }
    @return $list;
}

$padding : generate-total-map-list($paddings-list-class , $map-padding , $conf-paddings);
$margin : generate-total-map-list($margin-list-class , $map-margin , $conf-margins);
$gap : generate-total-map-list($gap-list-class , $map-gap , $conf-gaps);
$col-gap : generate-total-map-list($col-gap-list-class , $map-col-gap , $conf-gaps);
$letter-spacing: generate-total-map-list($letter-spacing-list-class , $map-letter-spacing , $conf-letter-spacing);
$line-height: generate-total-map-list($line-height-list-class , $map-line-height , $conf-line-height);