<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>card tooltip</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="d-flex flex-column align-items-center justify-content-center h-100vh font-primary">

        <ul class="sort-by d-flex align-items-center secondary-text-color txt-size-normal gap-4 font-weight-bold">
            <div class="d-flex align-items-center gap-4 d-lg-none">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M11.668 3.75H17.5013" stroke="#021959" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path d="M11.668 7.91602H17.5013" stroke="#021959" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path d="M2.5 12.084H17.5" stroke="#021959" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path d="M2.5 16.25H17.5" stroke="#021959" stroke-width="1.5" stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M7.91797 7.02565V4.64232C7.91797 3.70898 7.54297 3.33398 6.6013 3.33398H4.2263C3.29297 3.33398 2.91797 3.70898 2.91797 4.64232V7.01732C2.91797 7.95898 3.29297 8.33398 4.2263 8.33398H6.6013C7.54297 8.33398 7.91797 7.95898 7.91797 7.02565Z"
                  stroke="#021959" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              <p class="text-color txt-size-title">مرتب‌ سازی</p>
            </div>
            <div class="vertical-line mx-1 d-lg-none"></div>
            <li class="user-select-none cursor-pointer">
                <p class="">جدیدترین</p>
            </li>
            <li class="user-select-none cursor-pointer">
                <p class="">بروزترین ها</p>
            </li>
            <li class="user-select-none cursor-pointer">
                <p class="">پرفروش ترین</p>
            </li>
            <li class="user-select-none cursor-pointer">
                <p class="">پربازدید ترین</p>
            </li>
            <li class="user-select-none cursor-pointer">
                <p class="">ارزان ترین</p>
            </li>
            <li class="user-select-none cursor-pointer">
                <p class=""> گران ترین </p>
            </li>
          </ul>


          <script src="./assets/js/mizchin.min.js"></script>
    </body>
</html>