<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Dropdown</title>
    <base href="../../../../../../">
    <link rel="stylesheet" href="./assets/css/miz.min.css">
    <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
</head>
<body class="bg-color d-flex flex-column justify-content-center align-items-center gap-14">
    <div class="dropdown dropdown-bottom">
        <button class="dropdown-box">
            Dropdown button
            <i class="fa-solid fa-chevron-down"></i>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
        </ul>
    </div>
    <script src="./assets/js/mizchin.min.js"></script>
    <script src="./assets/js/header.js"></script>
</body>
</html>