<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate-of-appreciation</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="font-primary">
        <div class="w-50">

            <div class="contact-us-information">
                <div class=" d-flex gap-3 font-weight-bold">
                    <p class="direction">میدان موج ، نیما یوشیج ، ساختمان آکادا سنتر ، واحد 502</p>
                    <i class="icon-bookmark txt-size-title text-variantly-color font-weight-regular"></i>
                </div>
                <p class="title">دفتر مرکزی</p>
            </div>

        </div>
    </body>
</html>