@use "../../../sass/config/_dims" as *;
@use 'sass:map';

$border-radius:map.merge($border-radius ,(
    extra-small: 4px,
    small: 8px,
    medium: 17px,
    large: 35px,
    full: 2000px,
    none:0px,
));

$conf-ellipsis:map.merge($conf-ellipsis ,(
    count:5
));

$conf-opacity:map.merge($conf-opacity ,(
    factor:0.1
));

$conf-z-index:map.merge($conf-z-index ,(
    max:10,
    min:0,
    step:1
));

$conf-aspect-ratio:map.merge($conf-aspect-ratio ,(
    nominator:3,
    denominator:3,
    step:1
));

$conf-border-thickness:map.merge($conf-border-thickness ,(
    last-width:10
));