@use "../../../sass/config/_typography" as *;
@use "sass:map";

$fonts-niva: (
    "primary": (
        "defaults":"sans-serif, 'Courier New', Courier, monospace",
        "folder": "pt-sans",
        "font-types": (
            "bold": (
                "PTSans-Bold.ttf",
            ),
            "regular": (
                "PTSans-Regular.ttf",
            ),
        )
    ),
);

$fonts:map.merge($fonts , $fonts-niva);