.select-btn{
    width: 140px;
    text-align: center;
}

#compare-products .product-card {
    min-width: 170px;
}

@media screen and (width < 1400px) {}

@media screen and (width < 1200px) {}

@media screen and (width < 992px) {}


@media screen and (width < 768px) {}

@media screen and (width < 576px) {}
