#external-product .forign-product {
    box-shadow: 22px 33px 90px 20px rgba(154, 168, 188, 0.06);
    box-shadow: 0px 8px 5px -6px rgba(223, 228, 235, 0.5), 0px -1px 1px 0px rgba(126, 127, 128, 0.5);
}



@media screen and (width < 1400px) {}

@media screen and (width < 1200px) {}

@media screen and (width < 992px) {}

@media screen and (width < 768px) {}

@media screen and (width < 576px) {}