/* footer-navbar */

.footer-navbar a:hover {
    color: var(--icon-hover);
}

.footer-navbar a {
    transition: 300ms;
}

.grid-1-2 {
  grid-template-columns: 1fr 2fr;
}

.grid-2-1 {
  grid-template-columns: 2fr 1fr;
}

.grid-2-3 {
  grid-template-columns: 2fr 3fr;
}

.symbol-trust{
    width: 160px;
}

.symbol-logo{
    width: 80px;
}

footer .top-line{
    border-top: 1px solid #DDDDDD;
}

/* footer */

#footer {
    box-shadow: 0 0 20px rgba(2, 25, 89, 0.05);
}

#footer .line {
    height: 1px;
    width: 100%;
    background-color: #DDDDDD;
}

#footer .service-box img {
    max-width: 55px;
}



#footer .line.btn-parent>a {
    position: absolute;
    right: 50%;
    transform: translateX(50%) translateY(-50%);
    top: 50%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
}

#footer .primary-footer-btn {
   
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer .primary-footer-btn img {
    height: 30px;
}


@media screen and (width < 1200px) {
  .grid-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}


@media screen and (max-width: 992px) {
  .grid-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}
    
