@forward "./home";
@forward "./404";
@forward "./about-us";
@forward "./article";
@forward "./call-product";
@forward "./cart";
@forward "./compare";
@forward "./contact-us";
@forward "./faq";
@forward "./external-product";
@forward "./free-product";
@forward "./logo";
@forward "./my-account";
@forward "./offers";
@forward "./product-category";
@forward "./shop";
@forward "./simple-product";
@forward "./unavailable-product";
@forward "./variable-product";
@forward "./weblog";
@forward "./header";
@forward "./header-login";
@forward "./footer";
