#logopage #wrapper-logo {
    box-shadow: 0 3px 2px rgba(2, 25, 89, 0.02);
}


@media screen and (width < 1400px) {}

@media screen and (width < 1200px) {}

@media screen and (width < 992px) {}

@media screen and (width < 768px) {}

@media screen and (width < 576px) {}