.bg-primary-color{
    background-position: top;
    background-position: top center;
    background-position: top right;
    background-position: top left;

    background-position: bottom;
    background-position: bottom center;
    background-position: bottom right;
    background-position: bottom left;

    background-position-x: left;
    background-position-x: center;
    background-position-x: right;

    background-position-y: left;
    background-position-y: center;
    background-position-y: right;
}