// @use "../kernel-functions/colors" as *;

// $primary-color:get-color(primary);
// $on-primary-color:get-color(on-primary);
// $primary-light-color:get-color(primary-light);
// $primary-dark-color:get-color(primary-dark);
// $secondary-color:get-color(secondary);
// $on-secondary-color:get-color(on-secondary);
// $secondary-light-color:get-color(secondary-light);
// $secondary-dark-color:get-color(secondary-dark);
// $specific-color:get-color(specific);
// $button-text-color:get-color(button-text);
// $button-color:get-color(button);
// $text-color:get-color(text);
// $title-text-color:get-color(title-text);
// $secondary-text-color:get-color(secondary-text);
// $section-title-text-color:get-color(section-title-text);
// $border-color:get-color(border);
// $divider-color:get-color(divider);
// $shadow-color:get-color(shadow);
// $icon-color:get-color(icon);
// $icon-hover-color:get-color(icon-hover);
// $hover-color:get-color(hover);
// $button-hover-color:get-color(button-hover);
// $text-hover-color:get-color(text-hover);
// $button-text-hover-color:get-color(button-text-hover);
// $menu-color:get-color(menu);
// $card-color:get-color(card);
// $background-color:get-color(background);
// $section-color:get-color(section);
// $discount-price-color:get-color(discount-price);
// $gradient-color:get-color(gradient);
// $fields-color:get-color(fields);
// $border-fields-color:get-color(border-fields);
// $title-text-fields-color:get-color(title-text-fields);
// $text-fields-color:get-color(text-fields);
// $black-color:get-color(black);
// $white-color:get-color(white);
// $danger-regular-color:get-color(danger-regular);
// $disabled-regular-color:get-color(disabled-regular);
// $warning-regular-color:get-color(warning-regular);
// $warning-light-color:get-color(warning-light);
// $warning-dark-color:get-color(warning-dark);
// $success-regular-color:get-color(success-regular);
// $success-light-color:get-color(success-light);
// $success-dark-color:get-color(success-dark);
// $danger-dark-color:get-color(danger-dark);
// $danger-light-color:get-color(danger-light);
// $disabled-light-color:get-color(disabled-light);
// $disabled-dark-color:get-color(disabled-dark);
// $information-regular-color:get-color(information-regular);
// $information-light-color:get-color(information-light);
// $information-dark-color:get-color(information-dark);
// $color-border-secondary-color:get-color(color-border-secondary);
// $unCommon-color:get-color(unCommon);