@use 'sass:list';
@use 'sass:map';
@use "../responsive/functions/responsive" as *;

@function generate-class-name-list($map-config , $property){
    $max:map.get($map-config , max);
    $min:map.get($map-config , min);
    $step:map.get($map-config , step);
    $value:calc(($max - $min) / $step);
    $class-name:();
    @if ($step == 0){
        @return ();
    }
    @for $i from 0 through $value{
        $number:$step * $i + $min;
        @if ($i == 0){
            $number:$min;
        }
        $class-item:generate-classes-on-value($property , $number);
        $class-name:list.join($class-name , $class-item , comma);
    }
    // @debug $class-name;
    @return $class-name;
}

@function generate-value($map-config){
    $max:map.get($map-config , max);
    $min:map.get($map-config , min);
    $step:map.get($map-config , step);
    $value:calc(($max - $min) / $step);
    $number:();
    $value-list:();
    @for $i from 0 through $value{
        $number:$step * $i + $min;
        @if ($i == 0){
            $number:$min;
        }
        $value-list:list.append($value-list , $number , comma);
    }
    @return $value-list;
}