@use 'sass:string';

@forward "functions";
@forward "cursor";
@forward "aspect-ratio";
@forward "opacity";
@forward "overflow";
@forward "position";
@forward "z-index";
@forward "image";
@forward "visibility";
@forward "user-select";
@forward "scroll-behavior";
@forward "inset-inline";
@forward "ellipsis";