.position-relative{
    position:relative;
}

.position-absolute{
    position:absolute;
}

.position-fixed{
    position:fixed;
}

.position-sticky{
    position:sticky;
}
.top-0{
    top:0px
}
.left-0{
    left:0px;
}
.right-0{
    right:0px;
}
.bottom-0{
    bottom:0px;
}