@use 'sass:list';
@use "../../config/dims" as *;
@use "../../../themes/niva/config/dims" as *; 
@use "functions" as *;

@mixin generate-total-style-z-index($map-config , $property){
    $class-name-list:generate-class-name-list($map-config , $property);
    $value-list:generate-value($map-config);
    $map:();
    $list:();
    @for $i from 1 through list.length($class-name-list){
        $class-item:list.nth($class-name-list , $i);
        $value:list.nth($value-list , $i);
        #{$class-item}{
            #{$property}:$value;
        }
    }
}

@include generate-total-style-z-index($conf-z-index , z-index);