@use "../../../../sass/global-functions" as *;

.switcher {
    cursor: pointer;
    border: 2px solid #021959;
    width: 35px;
    height: 18px;

    .ball {
        width: 10px;
        height: 10px;
        transition: 300ms;
<<<<<<< HEAD
        transform: translateX(2px);
=======
        transform: translateX(3px);
>>>>>>> 1f1c55898c577eb81a764c92e53c1d0b213ebe61
    }

    &.active {
        background-color: #3EB580;
        border-color: #3EB580;

        & .ball {
            background-color: white;
            transform: translateX(20px);
        }
    }
}
