@use "../../../../../sass/kernel/" as *;


.exclusive-sale-banner{
    @extend .w-100 , .radius-all-medium, .d-flex, .flex-column, .align-items-center,.bg-primary-color;

    .wrapper-image{
        @extend .w-100, .pt-10;
    }

    .view-all{
        bottom: 10%;
        left:40%;
        @extend .position-relative ,.z-index-5, .font-weight-extra-bold, .on-primary-color;
    }
}

