@use "../../../../sass/kernel/" as *;


.feature-description-box.text-type{
    @extend .d-flex, .flex-column, .gap-3;

    .title{
        @extend .txt-big, .secondary-text-color;
    }

    .description{
        @extend .secondary-text-color, .txt-big, .font-weight-bold;

        &.ellipsis-4{
            @extend .cursor-pointer;
        }
    }
}

.ellipsis-4{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}