@use "../../../../sass/kernel/" as *;


.feature-description-box.text-type{
    @extend .d-flex, .flex-column, .gap-3;

    .title{
        @extend .txt-size-big, .secondary-text-color;
    }

    .description{
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        @extend .secondary-text-color, .txt-size-big, .font-weight-bold;
    }
}