<!DOCTYPE html>
<html dir="rtl" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>iphone banner</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
        <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    </head>
    <body class="font-primary d-grid grid-1 font-primary">
        <div class="iphone-banner">       
            <div class="product">
                <img class="product-image" src="./assets/media/images/banner/iphone-17-pro-finish-select-202509-6-9inch-deepblue_AV3-Photoroom 1(1).svg">
                <div class="text-box">
                    <p class="description">عکاسی بدون حدس</p>
                    <p class="name">Apple Iphone 17 pro</p>
                </div>
            </div>
            <!--مکان دکمه-->
            <div class="contain-button">
                    
            </div>
        </div>
    </body>
</html>