@use "../../../sass/config/colors" as *;
@use "sass:map";

$light-color-palette-mizoon:(
    primary:#A11D1D,
    on-primary: #c97d7d,
    primary-light: #c97d7d8a,
    primary-dark: #FFFFFF,
    secondary: #FFFFFF,
    on-secondary: #495057,
    secondary-light: #393939,
    secondary-dark: #FFFFFF,
    specific: #FFFFFF,
    button-text: #C7A151,
    button: #00000000,
    text: #7f7f86,
    title-text: #fff,
    header-text: #DDCDFE,
    header-title-text: #ffffff,
    secondary-text: #FFFFFF,
    section-title-text: #CECECE,
    border: #dee2e6,
    divider: #727273,
    shadow: #ffffff,
    icon: #fff,
    icon-hover: #fff,
    menu: #1F1D1D,
    card: #27272A,
    footer:#2B3035,
    footer-text : #B1B5B9,
    footer-link : #DEE2E6,
    footer-link-hover : #8BB9FE,
    link-sidebar-text : #AEB2B6,
    background: #111111,
    section: #262626,
    hover: #FFFFFF, 
    button-hover: #C7A453,
    bg-list-hover: #F2E0E0,
    button-text-hover: #C5B395,
    discount-price: #FFFFFF,
    fields: #27272A,
    border-fields: #3F3F46,
    title-text-fields: #A1A1AA,
    text-fields: #ECEDEE,
    black: #000000,
    white: #FFFFFF,
    danger-regular: #D70D0D,
    disabled-regular: #B1B1B1,
    warning-regular: #FFB800,
    warning-light: #FDD368,
    warning-dark: #CA9200,
    success-regular: #02B74A,
    success-light: #C0FCD8,
    success-dark: #007A31,
    danger-dark: #AA0D0D,
    danger-light: #F8D0D0,
    disabled-light: #E2E2E2,
    disabled-dark: #575857,
    information-regular: #3761EB,
    information-light: #7393FF,
    information-dark: #2145BC,
    border-secondary: #FFFFFF,
    unCommon: #FFFFFF,
    transparent:#00000000,
);

$dark-color-palette-mizoon:(
    primary: #eb4545,
    on-primary: #c97d7d,
    primary-light: #c97d7d8a,
    primary-dark: #FFFFFF,
    on-primary-light: #a11d1d2b,
    secondary: #000000,
    on-secondary: #495057,
    secondary-light: #FFFFFF,
    secondary-dark: #FFFFFF,
    specific: #FFFFFF,
    button-text: #C7A151,
    button: #a30000,
    text: #e7ebef,
    title-text: #ffffff,
    header-text: #DDCDFE,
    header-title-text: #ffffff,
    secondary-text: #FFFFFF,
    section-title-text: #CECECE,
    border: #dee2e6,
    divider: #ffffff,
    shadow: #ffffff,
    icon: #fff,
    icon-hover: #fff,
    menu: #1F1D1D,
    card: #120F10,
    footer:#2B3035,
    footer-text : #B1B5B9,
    footer-link : #DEE2E6,
    footer-link-hover : #8BB9FE,
    link-sidebar-text : #AEB2B6,
    background: #212529,
    section: #262626,
    hover: #FFFFFF,
    button-hover: #C7A453,
    bg-list-hover: #493A3D,
    button-text-hover: #C5B395,
    discount-price: #FFFFFF,
    gradient: #FFFFFF,
    fields: #FFFFFF,
    border-fields: #FFFFFF,
    title-text-fields: #FFFFFF,
    text-fields: #FFFFFF,
    black: #000000,
    code : #FAFAFA,
    white: #FFFFFF,
    danger-regular: #D70D0D,
    disabled-regular: #3761EB,
    warning-regular: #FFB800,
    warning-light: #FDD368,
    warning-dark: #CA9200,
    success-regular: #02B74A,
    success-light: #C0FCD8,
    success-dark: #007A31,
    danger-dark: #AA0D0D,
    danger-light: #F8D0D0,
    disabled-light: #B1B1B1,
    disabled-dark: #B1B1B1,
    information-regular: #3761EB,
    information-light: #7393FF,
    information-dark: #2145BC,
    border-secondary: #B1B1B1,
    unCommon: #FFFFFF
);

$light-color-palette:map.merge($light-color-palette , $light-color-palette-mizoon);
$dark-color-palette:map.merge($dark-color-palette , $dark-color-palette-mizoon);

$color-palette-mizoon:(
    default : $light-color-palette ,
    colors : (
        light : $light-color-palette ,
        dark : $dark-color-palette ,
    )
);

$color-palette:map.merge($color-palette , $color-palette-mizoon);