@use "../../../sass/config/responsive" as *;
@use "sass:map";

$conf-gaps:map.merge($conf-gaps ,(
    count:20,
    unit:rem,
    factor:0.5,
    responsive:true
));
$conf-paddings:map.merge($conf-paddings ,(
    count:10,
    unit:rem,
    factor:0.5,
    responsive:false
));
$conf-margins:map.merge($conf-margins ,(
    count:25,
    unit:rem,
    factor:0.5,
    responsive:true
));