@use "../../../../sass/config/_dims" as *;
@use "../../../../sass/kernel/" as *;
@use 'sass:map';


.story-line::after {
    content: "";
    @extend .w-100, .aspect-ratio-1x1, .position-absolute, .radius-all-full;
    background-image: url(get-image("story-ring.svg"));
    background-size: cover;
    background-position: center;
    box-shadow: 10px -10px 5px rgba(220, 5, 172, 0.06),
        0px 0px 5px rgba(235, 53, 44, 0.32),
        -10px 10px 5px rgba(245, 155, 8, 0.06),
        inset 10px -10px 5px rgba(220, 5, 172, 0.09),
        inset 0px 0px 5px rgba(235, 53, 44, 0.4),
        inset -10px 10px 5px rgba(245, 155, 8, 0.09);
}

.modal-container.story-modal {
    @extend .modal-container, .bg-transparent-color, .justify-content-center, .align-items-center, .z-index-10;

    
    &.show {
        & .modal-content {
            animation: story-modal-open 0.3s ease-out forwards;
        }
        &::after{
            animation:  story-modal-backdrop-open 0.3s ease-out forwards;
        }
    }
    
    &.hide {
        & .modal-content {
            animation: story-modal-close 0.3s ease-out forwards;
        }
        &::after{
            animation: story-modal-backdrop-close 0.3s ease-out forwards;
        }
    }

    .modal-content {
        @extend .position-absolute, .top-0, .left-0, .d-flex, .flex-column, .align-items-center, .overflow-hidden, .w-100, .h-100;
    }

    .modal-close {
        @extend .cursor-pointer;
    }

    .slider-content{
        .story-content{
            @extend .position-relative, .w-22, .aspect-ratio-1x2, .w-xl-26, .w-lg-34, .w-md-40, .w-sm-60;

            .story-timelines{
                @extend .d-grid,.gap-1;

                .timeline{
                    @extend .my-4, .w-100, .radius-all-full, .bw-2, .bt-style-solid;
                    
                    &:has(~ .timeline.active){
                        @extend .border-color;
                    }
        
                    &.active{
                        @extend .border-color;
                    }
                    
                    &.active ~ .timeline{
                        @extend .border-divider-color;
                    }
                }
            }

            .shadow-1, .shadow-2, .shadow-3 {
                position: absolute;
                z-index: -1;
                border-radius: 20px;
                background: rgba(255, 255, 255, 0.08);
                
            }

            .shadow-1 {
                top: 20px;
                right: -12px;
                width: calc(100% - 33px);
                height: calc(100% - 40px);
            }

            .shadow-2 {
                top: 48px;
                right: -25px;
                width: calc(100% - 33px);
                height: calc(100% - 96px);
            }

            .shadow-3 {
                top: 20px;
                left: -12px;
                width: calc(100% - 25px);
                height: calc(100% - 40px);
            }

            .product-name{
                background-color: rgba(255, 255, 255, 0.10);
            }

            .like-story{
                i{
                    transition: 0.3s ease-out;
                }

                &.active i{
                    @extend .primary-color;
                }
            }
        }
        &.active{
            .timeline.active{
                animation: timeline-active var(--timer-time-line) linear;
                @extend .border-color;
            }
        }
    }
}

@keyframes story-modal-open {
    from {
        opacity: 0;
        scale: 0;
    }
    
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes story-modal-close {
    from {
        opacity: 1;
        scale: 1;
    }
    
    to {
        opacity: 0;
        scale: 0;
    }
}

@keyframes story-modal-open-backdrop {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

@keyframes story-modal-close-backdrop {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0;
    }
}

@keyframes timeline-active {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}