<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/miz.min.css">
    <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
</head>

<body class="font-primary bg-color p-5">
    <div class="card">
        <div class="card-header">
            <img class=" radius-all-small aspect-ratio-1x1" style="width: 40px;"
                src="https://eazymizy.com/assets/media/images/photo12956112070.webp" alt="">
            <div class="w-70 d-flex flex-column align-content-center justify-content-space-between ">
                <p class="title-text-color ">Miz</p>
                <p class="text-color txt-size-subtitle">easymizy.com</p>
            </div>
        </div>
        <div class="card-body">
            <p class="title-text-color">Make beautiful websites regardless of your <br> design experience.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="on-primary-color bold txt-size-subtitle">Visit source code on GitHub. <i class="fa-solid fa-link"></i></a>
        </div>
    </div>
</body>

</html>