@use "../../../../sass/kernel/" as *;


.product-comment{
    @extend .d-flex, .flex-column , .w-100 , .gap-5;

    .information-comment{
        @extend .d-flex, .justify-content-space-between,.gap-5;

        .user-name{
            @extend .text-color, .font-weight-bold;
        }
        .user-type{
            @extend .radius-all-full, .bg-primary-color, .on-primary-color, .font-weight-bold, .txt-size-normal, .px-2, .py-1;
        }
        
        .rating-star{
            @extend .d-flex, .gap-1;
            
            i.active{
                color: #DEA444;
            }
        }
        
        .date-time{
            @extend .txt-size-normal, .text-color, .font-weight-bold;
        }

        .btn{
            @extend .d-flex, .align-items-center, .gap-3, .py-3, .px-3, .bg-secondary-color, .radius-all-full, .cursor-pointer;

            .count{
                @extend .font-weight-bold;
            }
        }
    }

    .text-container{
        @extend .d-flex, .flex-column, .gap-5;

        .title{
            @extend .txt-size-high-title, .text-color, .font-weight-bold;
        }

        .description{
            @extend .txt-size-title, .font-weight-bold, .secondary-text-color;
        }
    }

    .features-container{
        @extend .d-flex, .align-items-start, .justify-content-space-between;

        .show-more{
            @extend .d-flex, .align-items-center, .w-fit-content, .gap-2, .mb-6, .cursor-pointer;

            .btn{
                @extend .radius-all-small, .d-flex, .justify-content-center, .align-items-center;
            }

            .text-show-more{
                @extend .txt-size-subtitle, .text-color, .font-weight-bold;
            }
        }

        .features{
            @extend .txt-size-normal, .secondary-text-color, .font-weight-bold;
            
            .feature{
                @extend .d-flex, .align-items-center, .gap-4;
            }
        }
    }

    .comment-gallery{
        @extend .d-grid, .align-self-end, .grid-3, .grid-sm-3, .w-22, .gap-2;
        
        img{
            @extend .w-100, .radius-all-small;
        }
    }
}