<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate-of-appreciation</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary d-grid grid-3 font-primary">

<div class="product-comment">
    <div class="information-comment">
        <div class="d-flex flex-column gap-5">
            <div class="d-flex gap-2">
                <span class="user-name">09123751296</span>
                <p class="user-type">خریدار</p>
            </div>
            <div class="d-flex gap-5">
                <div class="rating-star gap-sm-1">
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-solid fa-star active"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                    <i class="fa-duotone fa-solid fa-star"></i>
                </div>
                <span class="date-time">۱۴۰۴ . ۱ . ۰۶</span>
            </div>
        </div>
        <div class="d-flex gap-2 align-items-center">
            <div class="like-comment btn">
                <p class="count">25</p>
                <i class="fa-regular fa-thumbs-up"></i>
            </div>
            <div class="like-comment btn">
                <p class="count">3</p>
                <i class="fa-regular fa-thumbs-down"></i>
            </div>
            <div class="like-comment btn">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
        </div>
    </div>
    <div class="text-container">
        <h2 class="title">گوشی کاربردی و حرفه ایی برای همه</h2>
        <p class="description">با سلام گوشی کاملا سالم و به موقع به دستم رسید و رجیستری هم بدون مشکل و سریع انجام شد به نظر من این گوشی نسبت به بقیه گوشی های هم رده و هم قیمت مثل A16-A25-M6pro ارزش خرید بسیار بالاتری داره و تو توی این رنج قیمت سخت افزار بسیار خوبی ارائه میده بهتون کیفیت صفحه نمایش ، وضوح و بلندی صدا واقعا قابل قبوله و برای کاربری روزانه ، وب گردی و اینستا و فیلم دیدن خیلی مناسبه و تجربه خوبی به کاربر ارائه میده اما خب بخاطر</p>
    </div>

    <div class="features-container">
        <div class="d-flex flex-column">
            <div class="show-more">
                <div class="like-comment btn">
                    <svg width="26" height="19" viewBox="0 0 26 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.113281" y="0.59375" width="25.1514" height="17.75" rx="5" fill="#E3F3EC"></rect>
                        <path d="M16.2444 7.34961L13.256 10.3379C12.9031 10.6909 12.3256 10.6909 11.9727 10.3379L8.98438 7.34961" stroke="#3EB580" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </div>
                <p class="text-show-more">نمایش بیشتر</p>
            </div>
            <div class="features">
                <ul>
                    <li class="feature">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
                            <path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span>دوربین خیلی روون و با کیفیت</span>
                    </li>
                    <li class="feature">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
                            <path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span>باطری سریع شارژ میشه</span>
                    </li>
                    <li class="feature">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
                            <path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span>نمایشگر برای بازی خوبه</span>
                    </li>
                    <li class="feature">
                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
                            <path d="M1.2168 2.96553L2.83489 4.48379L6.0768 1.44727" stroke="#17C76F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span>مناسب طراحان هم هست</span>
                    </li>
                    <li class="feature">
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                            <path d="M5.80566 5.88678L1.64154 1.72266" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                            <path d="M5.80566 5.88678L1.64154 1.72266" stroke="#FF5858" stroke-width="2" stroke-linecap="round"></path>
                            <path d="M1.64062 5.88678L5.80475 1.72266" stroke="white" stroke-width="2" stroke-linecap="round"></path>
                            <path d="M1.64062 5.88678L5.80475 1.72266" stroke="#FF5858" stroke-width="2" stroke-linecap="round"></path>
                        </svg>
                        <span>بعضی مشکلات بابت تحریم ایران عزیز</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="comment-gallery">
            <img class="65% radius-all-extra-large" src="./assets/media/images/component/niva_67e415851fa11.jpeg" alt="">
            <img class="65% radius-all-extra-large" src="./assets/media/images/component/niva_67e415851fa11.jpeg" alt="">
            <img class="65% radius-all-extra-large" src="./assets/media/images/component/niva_67e415851fa11.jpeg" alt="">
        </div>
    </div>
</div>

    </body>
</html>