@use "../../../../sass/kernel/" as *;

.button-date {
    box-shadow: 0px 3px 1px 0px #EEF2F9;
    @extend .cursor-pointer, .border-color, .bw-1, .border-style-solid;

    .tick{
        width: 20px;
        height: 20px;
    }
    &.active{
        background-color: var(--secondary);
        
        & .tick{
            background-color: var(--primary);
        }
    }
}