<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate-of-appreciation</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="font-primary">
        <div class="choices w-100 d-flex gap-4">
            <div class="w-50 button-date active border-color border-style-solid bw-1 radius-all-small">
                <div class="py-7 d-flex flex-column justify-content-center gap-3">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="tick border-color bw-1 border-style-solid radius-all-extra-small mb-3 d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-check on-primary-color"></i>
                        </div>
                        <p class="font-weight-bold">Normal Post:</p>
                        <div class="d-flex gap-1 align-items-center">
                            <span class="font-weight-bold text-color txt-mid-title">$</span>
                            <span class="font-weight-bold">25,000</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-50 button-date border-color border-style-solid bw-1 radius-all-small">
                <div class="py-7 d-flex flex-column justify-content-center gap-3">
                    <div class="d-flex flex-column justify-content-center align-items-center">
                        <div class="tick border-color bw-1 border-style-solid  radius-all-extra-small mb-3 d-flex justify-content-center align-items-center">
                            <i class="fa-solid fa-check on-primary-color"></i>
                        </div>
                        <p class="font-weight-bold">Premium Post:</p>
                        <div class="d-flex gap-1 align-items-center">
                            <span class="font-weight-bold text-color txt-mid-title">$</span>
                            <span class="font-weight-bold">25,000</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="./assets/js/mizchin.min.js"></script>
    <script src="./assets/js/header.js"></script>
</html>