@forward "article";
@forward "biography";
@forward "certificate-of-appreciation";
@forward "contact-us";
@forward "faq";
@forward "feature-description-box";
@forward "product-button-feature";
@forward "product-card";
@forward "product-category";
@forward "product-details";
@forward "product-specifications";
@forward "progress";
@forward "rating-card";
@forward "return-conditions";
@forward "story";
@forward "summary-opinion";
@forward "weblog-card";
@forward "product-comment";
@forward "product-qa";
@forward "product-gallery-slider";
@forward "card-tooltip";
@forward "sliders";
@forward "commodity-pack";
@forward "countdown";
@forward "copy";
@forward "single-product-content";
@forward "baner";
@forward "category-card";
@forward "devicebanner";
@forward "baner-mobile";
@forward "topseller";
@forward "category-card";
@forward "product-toolbar";
@forward "call-product";
@forward "variable-product";
@forward "unavailable-product";
@forward "forign-product";
@forward "category-card";
@forward "popup-cart";
@forward "popup-video";
@forward "popup-share";
@forward "modal";
@forward "qty";
@forward "alert";
@forward "sort-by"; 
@forward "switcher";
@forward "range-slider";
@forward "dropdown";
@forward "button-date";
@forward "suggestion";
@forward "register-comment-box";

