<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="font-primary bg-color d-flex flex-row h-100 w-100 justify-content-center align-items-center gap-10">
            <div class="badge-wrapper d-flex flex-row justify-content-center align-items-center gap-1 btn btn-primary px-2 py-1">
                <span class="badge-inside bg-secondary-light-color radius-all-full">
                    <i class="fa-solid fa-house icon-small secondary-color"></i>
                </span>
                <p>button</p>
            </div>
    </body>
</html>