<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Dropdown</title>
    <link rel="stylesheet" href="/assets/css/miz.min.css">
    <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
</head>
<body class="font-primary bg-color d-flex flex-column justify-content-center align-items-center gap-14">
    <div class="dropdown dropdown-bottom">
        <div class="dropdown-box">
            Multi-level Dropdown
            <i class="fa-solid fa-chevron-down"></i>
        </div>
        <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-submenu-toggle">
                    Submenu 1
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <ul class="dropdown-menu dropdown-right">
                    <li><a href="#">Submenu Item 1</a></li>
                    <li><a href="#">Submenu Item 2</a></li>
                    <li class="dropdown-submenu">
                        <a href="#" class="dropdown-submenu-toggle">
                            Submenu 1.1
                            <i class="fa-solid fa-chevron-right"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-submenu-toggle">
                                    Submenu Item 1.1.1
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Submenu Item 1.1.1</a></li>
                                    <li><a href="#">Submenu Item 1.1.2</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Submenu Item 1.1.2</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown-submenu">
                <a href="#" class="dropdown-submenu-toggle">
                    Submenu 2
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Submenu Item 3</a></li>
                    <li><a href="#">Submenu Item 4</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <script src="/assets/js/mizchin.min.js"></script>
</body>
</html>