@use "../../../../../sass/kernel/" as *;
 
/* Google Fonts */
/* @import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
}

a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} */

/* Card Container */
/* .container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.card-content {
  margin-inline: 1.75rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-article {
  width: 300px;
  border-radius: 1.25rem;
  overflow: hidden;
}

.card-image {
  position: relative;
  background-color: var(--first-color-light);
  padding-top: 1.5rem;
  margin-bottom: -0.75rem;
}

.card-data {
  background-color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

/* Card Img */
.card-img {
  width: 180px;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card-shadow {
  width: 200px;
  height: 200px;
  background-color: var(--first-color-alt);
  border-radius: 50%;
  position: absolute;
  top: 3.75rem;
  left: 0;
  right: 0;
  margin-inline: auto;
  filter: blur(45px);
}

/* Card Text */
.card-name {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: 0.75rem;
}

.card-description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}

.card-button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  color: var(--dark-color);
  font-weight: 600;
}

/* Swiper Class */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
  width: initial;
  height: initial;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--second-color);
}

@media screen and (min-width: 768px) {
  .card-content {
    margin-inline: 3rem;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: flex;
  }
}