@use "../../../../sass/kernel/" as *;


.progress {
    @extend .w-100, .d-flex, .flex-row, .overflow-hidden, .radius-all-full, .bg-disabled-light-color;
}

.progress-bar {
    width: var(--percentage);
    user-select: none;
    @extend .d-flex, .align-items-center, .justify-content-center, .overflow-hidden, .bg-primary-color, .pt-1, .txt-small;

    &.progress-animation {
        animation: progress-animation var(--progress-animation-duration) forwards ease-in-out;
        animation-delay: var(--progress-animation-delay, 0s);
        @extend .w-0, .pl-0, .pr-0;
    }
}