.border-t-none{
    border-top:none !important;
}
.border-b-none{
    border-bottom:none !important;
}
.border-r-none{
    border-right:none !important;
}
.border-l-none{
    border-left:none !important;
}
.border-is-none{
    border-inline-start: none !important;
}
.border-ie-none{
    border-inline-end: none !important;
}
.border-none{
    border:none !important;
}