@use "../../../config/_reset" as *;

@mixin reset-file($reset) {
    @if $reset {
        *, *::after, *::before {
            box-sizing: border-box;
            margin: 0;
            -webkit-tap-highlight-color: transparent;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: normal;
        }

        ul, ol , li{
            list-style: none;
            padding: 0;
            margin: 0;
        }

        button, select {
            border: none;
        }

        input, button, select, textarea ul, li{
            font-family: inherit;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        dialog{
            padding: 0;
            border: none;
            background: none;
        }
    }
}

@include reset-file($reset);