@use "../../../../themes/niva/config/_typography" as *;
@use "../../../../themes/niva/config/_colors" as *;
@use "../../../config/_typography" as *;
@use "../../../config/_colors" as *;

@mixin root(){
    :root{
        @content;
    }
}

@mixin generate-font-variables(){
    @each $font-name , $font-details in $fonts {
        #{"--" + "font-" + $font-name}: $font-name;
    }
}

@mixin generate-color-variables() {
    @each $key, $value in $color-palette {
        @if $key =="default" {
            @each $key-color-property , $value-color-property in $value {
                #{"--" + $key-color-property}: $value-color-property;
            }
        }
    }
}

@include root(){
    @include generate-color-variables();
    @include generate-font-variables();
};