@use "../../../../sass/kernel" as *;
@use "../../../../sass/config/_typography" as *;

$mason-break-point:(xl:5 , lg:3 , md:2 , sm:1);

.masonry{
    column-count: var(--masonry-column-count);

    @each $column-break-point , $column-count in $mason-break-point{
        @media screen and (max-width:get-break-point-value($column-break-point)) {
            column-count: $column-count;
        }
    }
    .masonry-item{
        background-color: get-color(primary);
        @extend .d-inline-block, .w-100, .mb-1, .p-1;
    }
}