<!DOCTYPE html>
<html lang="fa" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accordion</title>
    <link rel="stylesheet" href="/assets/css/miz.min.css">
    <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
</head>
<body class="bg-color">
    <div class="accordion-group m-10 font-primary">
        <div class="accordion accordion-relative">
            <div class="accordion-box">
                <span class="accordion-header">Accordion 1<i class="fa-solid fa-chevron-down mr-1"></i></span>
                <div class="accordion-body">
                    <p class="">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-relative">
            <div class="accordion-box">
                <span class="accordion-header">Accordion 1<i class="fa-solid fa-chevron-down mr-1"></i></span>
                <div class="accordion-body">
                    <p class="">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                </div>
            </div>
        </div>
        <div class="accordion accordion-relative">
            <div class="accordion-box">
                <span class="accordion-header">Accordion 1<i class="fa-solid fa-chevron-down mr-1"></i></span>
                <div class="accordion-body">
                    <p class="">Yes, MIZ is similar to other frameworks like MIZ and Tailwind but with its own unique features. Unlike MIZ, which is limited to predefined structures, and Tailwind, which relies on JavaScript, MIZ offers high customization capabilities and uses SCSS as its preprocessor.</p>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/mizchin.min.js"></script>
</body>
</html>
