@use "../../../../sass/kernel/" as *;

.report-card, .report-product{
  @extend .d-flex, .flex-column, .px-5, .py-5, .bg-color, .gap-2, .radius-all-medium, .w-100;
}
.report-product{
  @extend .gap-3;
}