<html dir="ltr" lang="en"><head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>certificate of appreciation</title>
        <base href="../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
    </head>
    <body class="font-primary">
        <div class="d-grid gap-6 grid-5">

              <div class="privilege">
                <img class="" src="./assets/media/images/component/5-4.png" width="150px">
                <div class="d-flex flex-column align-items-stretch gap-2">
                    <p class="txt-size-mid-title font-weight-bold text-color">لوح تقدیر</p>
                        <p class="txt-size-mid-title text-color font-weight-bold"><span class="text-color opacity-5">سازما صدا و سیما</span>سال 1399
                    </p>
                </div>
            </div>
            <div class="privilege">
                <img class="" src="./assets/media/images/component/5-4.png" width="150px">
                <div class="d-flex flex-column align-items-end gap-2">
                    <p class="txt-size-mid-title font-weight-bold text-color">لوح تقدیر</p>
                        <p class="txt-size-mid-title text-color font-weight-bold"><span class="text-color opacity-5">سازما صدا و سیما</span>سال 1399
                    </p>
                </div>
            </div>
            
        </div>
    
</body></html>