@use "../../../../sass/kernel/" as *;

$devicebanner-custom-classes: ".radius-all-large, .px-5, .pt-16";
$devicebanner-title-custom-classes: ".txt-size-mega-title, .font-weight-bold, .on-primary-color";
$devicebanner-background-custom-classes: radial-gradient(at center, #F6F7F8 1%, #B4CBD8);
$devicebanner-transition-custome-classes: all 300ms;

.devicebanner {
    background-image: #{$devicebanner-background-custom-classes};
    @extend .d-flex, .flex-column, .align-items-center, .justify-content-center, .overflow-hidden, .grow-1, #{$devicebanner-custom-classes};

    &:hover .title {
        transform: translateY(50%);
        @extend .opacity-10;
    }

    &:hover img {
        transform: translateY(50px);
    }

    .title {
        @extend .opacity-0, #{$devicebanner-title-custom-classes};
        transform: translateY(200px);
        transition: $devicebanner-transition-custome-classes;
    }

    img {
        transform: translateY(-30%);
        width: 90%;
        min-width: 170px;
        aspect-ratio: 1;
        object-fit: contain;
        transition: $devicebanner-transition-custome-classes;
    }

}