@use "../../../../../sass/kernel/" as *;

.air-banner {
    @extend .position-relative , .w-100 , .overflow-hidden , .radius-all-medium;

    .cover {
        @extend .position-absolute , .bottom-0 , .left-0 , .z-index-2 , .w-100; 
    }


    
    .content {
        @extend .w-100 , .position-relative;

        .product {
            @extend .d-flex , .w-80 , .justify-content-space-between , .align-items-center  ;

            .product-image {
                @extend  .w-65;
            }

            .text-box {
                @extend .position-relative , .d-flex , .flex-column , .py-2 , .px-3 , .rtl;

                .frame {
                    @extend .position-absolute , .rtl , .top-0 , .right-0;
                }

                .description {
                    @extend .rtl , .text-color , .font-weight-medium ;

                    & {
                        font-size: 2.5rem;
                    }
                }

                .name {
                    @extend .ltr , .text-color , .txt-title , .font-weight-light;
                }

                & {
                    white-space: nowrap;
                }
            }
        }

        .contain-button {
            @extend .w-20 , .d-flex , .align-items-center , .justify-content-center; 
        }
    }

    &::before {
        content: '';
        background-image: url('../../assets/media/images/banner/iphone-banner.svg');
        background-repeat: no-repeat;
        background-size: cover;
        @extend .w-100 , .h-100 , .position-absolute , .bottom-0 , .left-0;
    }

    &::after {
        content: '';
        background-image: url('../../assets/media/images/banner/Vector-12.svg');
        background-repeat: no-repeat;
        background-size: contain;
        @extend .w-100 , .h-100 , .position-absolute , .bottom-0 , .left-0 ;
    }


}