<!DOCTYPE html>
<html dir="rtl" lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>baner - air banner</title>
        <base href="../../../../../../">
        <link rel="stylesheet" href="./assets/css/miz.min.css">
        <link rel="stylesheet" href="./assets/icons/fontaswsome/css/all.min.css">
        <link rel="stylesheet" href="./assets/icons/icomoon/css/all.min.css">
    </head>
    <body class="font-primary d-grid grid-1 font-primary">
        <div class="air-banner">
            <div class="content">
                <div class="product">
                    <img class="product-image" src="./assets/media/images/banner/iphone-air.svg">
                    <div class="text-box">
                        <img class="frame" src="./assets/media/images/banner/Vector-9.svg">
                        <p class="description">به سبکی هوا</p>
                        <p class="name">Apple Iphone Air</p>
                    </div>
                </div>
                <!--مکان دکمه-->
                <div class="contain-button">
                        
                </div>
            </div>
        </div>
    </body>
</html>