<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>report product</title>
  <base href="../../../../../">
  <link rel="stylesheet" href="./assets/css/miz.min.css">
  <link rel="stylesheet" href="./assets/css/style.min.css">
  <link rel="stylesheet" href="./assets/icons/fontawesome/css/all.min.css">
</head>

<body class="d-grid grid-4 font-primary">

  <div class="viewpoint-card">
    <span class="txt-size-normal font-weight-bold">برای ثبت دیدگاه باید محصول مورد نظر را خریداری کرده باشید</span>
    <button type="submit" class="w-100 py-2 bg-button-color button-text-color radius-all-small bg-btn-hover font-weight-medium txt-size-big">خرید محصول</button>
  </div>

</body>

</html>