<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/css/miz.min.css">
        <link rel="stylesheet" href="/assets/icons/fontawesome/css/all.min.css">
    </head>
    <body class="d-flex justify-content-space-around align-items-center bg-secondary-color">
        <div class="loader-spinner-fade" data-loader-spinner-fade-size="50px"></div>
        <script src="/assets/js/mizchin.min.js"></script>
    </body>
</html>