@use "../../../../sass/kernel/" as *;


.product-gallery.slider{
    @extend .d-flex, .flex-column, .align-items-center, .w-100, .gap-4;

    .slider-wrapper{
        @extend .position-relative, .overflow-hidden, .aspect-ratio-1x1, .w-100, .radius-all-medium, .border-color, .bw-1, .border-style-solid;
        
        .slider-content{
            img{
                @extend .w-100, .h-100, .object-contain;
            }
        }
    }

    .slider-toggles{
        @extend .d-grid, .grid-7, .gap-3;

        .slider-toggle{
            @extend .w-100, .cursor-pointer, .radius-all-extra-small;
        }
    }
}